.l-section .l-section{margin-top:60px;padding:0}
.l-inner--medium>.l-section:last-child{padding-bottom:0}
.c-text sub,.c-text sup{position:static;font-size:75%;line-height:inherit}
.c-text sub{vertical-align:baseline}
.c-text sup{vertical-align:super}
.c-linkButton__link sup{position:static;margin:0 .25em;font-size:75%;line-height:inherit;vertical-align:super}
.c-note--mark::before{content:'*'}
.c-card--movie{margin:40px auto 0;max-width:700px}
.u-square{display:inline-block;margin-right:.25em;width:.75em;height:.75em;vertical-align:baseline;background-color:#000;content:''}
.l-grid+.c-note{margin-top:20px}
.p-topSummary{overflow:hidden;display:flex;margin-bottom:40px;padding:50px 0;min-height:430px;background:url(/fa/products/software/visualisation/genesis64/assets/img/summary_bg.jpg) no-repeat center center;background-size:cover;justify-content:center;align-items:center}
.p-topSummaryInner{position:relative;margin-right:0;margin-left:0;width:100%}
.p-topSummaryImg{position:absolute;top:50%;right:0;width:58.780487804878049%;transform:translateY(-50%)}
.p-topSummaryImg img{width:100%;vertical-align:top}
.p-topSummaryText{position:relative;padding-right:43.3333%;text-shadow:0 0 20px #fff,0 0 20px #fff}
.p-topSummaryTitle{font-weight:700;font-size:2.4286em;line-height:1.4118}
.p-topSummaryDescription{margin-top:25px;font-size:1.1429em;line-height:1.75}
.p-ourStories .l-grid__item-4 .c-text{font-weight:700}
.p-ourStories .l-grid+.l-grid{position:relative;margin-top:60px;padding-top:60px}
.p-ourStories .l-grid+.l-grid:before{position:absolute;top:0;left:15px;width:calc(100% - 30px);height:1px;background-color:#e6e6e6;content:''}
.p-ourStories .c-text+.c-text{margin-top:15px}
.p-ourStories .c-text+.c-note{margin-top:30px}
.p-lineupBanner>a{display:block;transition:opacity .4s}
.p-lineupBanner>a:hover{opacity:.85}
.p-lineupBanner>a>picture>img{width:100%;vertical-align:top}
.p-serviceLink{margin:40px auto 0;max-width:700px}
.p-serviceLink>a{display:block;font-weight:700;padding:18px 20px;text-align:center;background-color:#f2f2f2;color:inherit;border:1px solid #818181;border-radius:5px;transition:opacity .4s}
.p-serviceLink>a:hover{opacity:.85}
.p-partnerTab{margin-top:60px}
.p-partnerTab .c-tab__contents{min-height:0}
.p-partnerTab__anchor{display:flex;margin:-10px -20px 0 0;flex-wrap:wrap}
.p-partnerTab__anchor>li{margin:10px 20px 0 0}
.p-partnerTab__anchor>li>a:before{transform:rotate(90deg)}
.p-partnerSection{margin-top:30px;padding:30px 4.0404% 35px;background-color:#fff}
.p-partnerSection:after{clear:both;display:block;content:''}
.p-partnerSectionTitle{margin-bottom:30px;padding-bottom:5px;font-weight:500;font-size:24px;border-bottom:2px solid #e1e7ee}
.p-partnerSection__logo{display:flex;float:right;margin-left:3.2967%;width:32.967%;height:190px;justify-content:center;align-items:center}
.p-partnerSection__logo>img{width:auto;max-width:100%;max-height:190px}
.p-partnerSection__block{margin-top:30px}
.p-partnerSection__blockTitle{font-size:18px}
.p-partnerSection .c-note{margin-top:30px}
.p-partnerSection .c-table__head th{font-weight:700;text-align:center;vertical-align:middle;background-color:#e6e6e7}
.p-partnerSection .c-table__contentBody th,.p-partnerSection .c-table__contentBody td{width:33.3333%;vertical-align:middle}
.p-partnerAccodion{margin-top:30px}
.p-partnerAccodion .p-partnerSection{margin-top:0;padding:0;background-color:transparent}
.p-partnerAccodion .p-partnerSection+.p-partnerSection{margin-top:50px}
.p-partnerAccodion .c-table__contentBody th:first-child,.p-partnerAccodion .c-table__contentBody td:not(:last-child){width:18.4615%}
.p-partnerAccodion .c-table__contentBody td:last-child{width:81.5385%}
.p-partnerSection__box{margin-top:60px;background-color:#eae8e9}
.p-partnerSection__boxTitle{padding:8px 4.3103% 9px;font-size:22px;text-align:center;background-color:#6f7c8d;color:#fff}
.p-partnerSection__boxImg{padding:15px 11.3147%}
.p-partnerSection__boxImg>img{width:100%;vertical-align:top}
.p-partnerSection__box .c-table{margin-top:0;background-color:#fff}
.p-partnerSection__box .c-table__head th,.p-partnerSection__box .c-table__contentBody th,.p-partnerSection__box .c-table__contentBody td{height:50px}
.p-partnerSection__box .c-table__contentBody th:first-child,.p-partnerSection__box .c-table__contentBody td:last-child{width:50%}
@media only screen and (max-width:767px){
.p-topSummary{position:relative;display:block;padding:40px 0 0;min-height:440px;background-image:url(/fa/products/software/visualisation/genesis64/assets/img/summary_bg_sp.jpg)}
.p-topSummaryInner{position:static}
.p-topSummaryImg{top:auto;left:0;bottom:15px;width:100%;transform:none}
.p-topSummaryText{padding-right:0;padding-bottom:220px;text-shadow:0 0 10px #fff,0 0 10px #fff}
.p-topSummaryTitle{font-size:1.5714em;line-height:1.3636}
.p-topSummaryDescription{margin-top:10px;font-size:1em;line-height:1.5714}
.p-partnerSection{padding-right:30px;padding-left:30px}
.p-partnerSection__logo{float:none;margin-right:auto;margin-left:auto;width:100%;max-width:300px}
.pc{display:none!important}
}