<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Edgecross-supporting Software | Core Products/Technologies | FA-IT integrated solution e-F@ctory | MITSUBISHI ELECTRIC Factory Automation</title>
<meta name="keywords" content="MITSUBISHI ELECTRIC,FA,Factory Automation">
<meta name="description" content="Aiming for advanced manufacturing through data collection and management">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="format-detection" content="telephone=no">
<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">
<link rel="apple-touch-icon-precomposed" href="https://www.mitsubishielectric.com/m/common/img/apple-touch-icon-precomposed.png">
<!-- facebook用メタ情報 -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.mitsubishielectric.com/fa/solutions/efactory/component/edgsw/index.html">
<meta property="og:title" content="Edgecross-supporting Software | Core Products/Technologies | FA-IT integrated solution e-F@ctory | MITSUBISHI ELECTRIC Factory Automation">
<meta property="og:description" content="Aiming for advanced manufacturing through data collection and management">
<meta property="og:image" content="https://www.mitsubishielectric.com/fa/shared/img/ogp/thumb_01.jpg">
<!-- /facebook用メタ情報 -->
<!-- Mel styles gws0001 -->
<link rel="stylesheet" href="/fa/shared/gws0001/default/libs/normalize.css/7.0.0/normalize.css">
<link rel="stylesheet" href="/fa/shared/gws0001/default/css/layouts.css">
<link rel="stylesheet" href="/fa/shared/gws0001/css/style.css">
<link rel="stylesheet" href="/fa/solutions/assets/css/category.css">
<link rel="stylesheet" href="/fa/solutions/efactory/component/edgsw/assets/css/style.css">
<!-- Mel JS gws0001 -->
<script src="/fa/shared/gws0001/default/libs/jquery/jquery-3.6.0.min.js"></script>
<script>
window.jQuery3_6 = jQuery.noConflict();
</script>
<script src="/fa/shared/gws0001/default/js/libs.js"></script>
<script src="/fa/shared/gws0001/js/functions.js"></script>
<script src="/common/js/head_include.js"></script>
</head>
<body>
<noscript><div class="noscript"><p class="noscript__msg">Please enable JavaScript before using this site.</p></div></noscript>
<header class="gs18-Header gs18-Header--MinInteraction" role="banner" data-js-gs18-header>
<!-- /.gs18-Header --></header>
<main class="container-fluid" id="edgsw">
<div class="c-mainVisual c-mainVisual--lv2">
<div class="c-mainVisual__main">
<div class="c-mainVisual__fa"><img src="/fa/shared/gws0001/img/fa_logo.svg" alt="Factory Automation" width="315" height="35"></div>
<p class="c-mainVisual__category">FA-IT integrated<br>solution</p>
<h1 class="c-mainVisual__title">Edgecross-supporting<br>Software</h1>
<div class="c-mainVisual__background"><img src="/fa/solutions/efactory/component/edgsw/assets/img/img_mv-1.png" alt=""></div>
</div>
</div><!-- /.c-mainVisual -->
<div class="c-localNav">
<div class="c-localNav__inner">
<ul class="c-list c-list--float">
<li class="c-list__item"><a class="u-icons u-icons--bulletLeft" href="/fa/solutions/efactory/index.html">Introduction of e-F@ctory</a></li>
</ul><!-- /.c-list -->
<ul class="c-list c-list--float">
<li class="c-list__item"><a class="u-icons u-icons--bulletRight is-active" href="/fa/solutions/efactory/component/edgsw/index.html">top</a></li>
<li class="c-list__item"><a class="u-icons u-icons--bulletRight" href="/fa/solutions/efactory/component/edgsw/edgeapp/index.html">Edge Application</a></li>
<li class="c-list__item"><a class="u-icons u-icons--bulletRight" href="/fa/solutions/efactory/component/edgsw/dc/index.html">Data Collector</a></li>
<li class="c-list__item"><a class="u-icons u-icons--bulletRight" href="/fa/solutions/efactory/component/edgsw/itgw/index.html">IT Gateway</a></li>
</ul><!-- /.c-list -->
</div><!-- /.c-localNav__inner -->
</div><!-- /.c-localNav -->
<div class="l-inner">
<div class="c-featureArea">
<div class="c-featureArea__box">
<p class="c-featureArea__lead u-fz--32">Aiming for advanced manufacturing through data collection and management</p>
<p class="c-text">To realize a smart factory, it is necessary to utilize shop floor data in real time and effectively integrate with IT systems.<br>“Edge computing” that primarily processes information between shop floor and IT systems supports these activities.</p>
</div><!-- /.c-featureArea__box -->
</div>
</div>
<div class="l-inner mt-midiam">
<section class="l-section" id="section01">
<p class="c-heading_subtitle_top">Utilization of the edge computing is essential for optimization of value chain focused on the shop floor.</p>
<h2 class="c-headingLv2">To autonomous decentralized system by edge computing</h2>
<div class="l-inner--large">
<div class="edgsw-system">
<ul class="number-list">
<li>Primary processing of the production site data can reduce traffic and ensure security when sending data to Cloud or IT systems</li>
<li>Real-time data analysis and feedback near shop floor to improve efficiency in equipment maintenance and other operations</li>
</ul>
<p class="c-img"><img src="/fa/solutions/efactory/component/edgsw/assets/img/img_illust_01.png" alt="To autonomous decentralized system by edge computing"></p>
<div class="speech-bubble-box">
<p class="c-imgAuto align-left"><img src="/fa/solutions/efactory/component/edgsw/assets/img/logo_efactory_edgecross.png" alt="e-F@ctory Powered EDGECROSS"></p>
<ul class="list-square">
<li>Total solutions in manufacturing industry using our FA and IT technologies</li>
<li>Improvement of all processes in the shop floor is promoted by e-F@ctory Solutions utilizing Edgecross</li>
</ul>
<div class="barcode">
<img src="/fa/solutions/efactory/component/edgsw/assets/img/logo_edgecross.png" alt="EDGECROSS">
<img src="/fa/solutions/efactory/component/edgsw/assets/img/img_barcode.png" alt="Edgecross Consortium">
</div>
<div class="text">
<h3>Software platform in the edge computing area from Japan realizes collaboration between FA and IT</h3>
<p>“Edgecross” is an open software platform in the edge computing area that realizes collaboration between FA and IT across companies and industries.</p>
<p>Free and flexible eco-systems can be established without dependence on application vendors and device manufacturers.</p>
</div>
<p class="c-text"><a class="u-icons u-icons--bulletRight" href="https://www.edgecross.org/en/index.html" target="_blank"><span class="u-icons u-icons--externalLink u-icons--after">Edgecross Consortium </span></a></p>
</div>
</div>
</div>
<h3 class="c-headingLv3">Sloving data collection and management issues by platform in the edge computing area</h3>
<div class="edgsw-solution">
<div class="l-inner--midium"></div>
<p class="c-imgAuto"><img src="/fa/solutions/efactory/component/edgsw/assets/img/img_illust_02.png" alt="Sloving data collection and management issues by platform in the edge computing area"></p>
<div class="products-flex-wrap">
<p class="image"><img src="/fa/solutions/efactory/component/edgsw/assets/img/logo_iq_edgecross.png" alt="iQ Edgecross"></p>
<div class="text">
<h4>Edgecross-supporting software</h4>
<p>Provides edge applications and data collectors compatible with Edgecross for realizing data collection independent of connection method and protocol.</p>
</div>
</div>
<p class="c-text">For improvement of the whole shop floor, it is essential to collect data from all equipment.However, the shop floor has machines of various manufacturers and a large number of connection methods and protocols, and a complex system must be established.Ïitsubishi Electric promotes the utilization of "Edgecross" and provides software products for various issues to contribute toward of the customers.</p>
<div class="l-inner--large">
<div class="map-link">
<div class="map-link__image">
<img src="/fa/solutions/efactory/component/edgsw/assets/img/img_map_01.png" alt="">
<a href="/fa/solutions/efactory/component/edgsw/edgeapp/index.html" class="link-application">Edge Application</a>
<a href="/fa/solutions/efactory/component/edgsw/dc/index.html" class="link-datacolect">Data Collector</a>
<a href="/fa/solutions/efactory/component/edgsw/itgw/index.html" class="link-gateway">IT Gateway</a>
</div>
</div>
</div>
</div>
</section><!-- /#section01 -->
<div class="edgsw-pagination">
<ul class="c-list c-list--float">
<li class="c-list__item"><a class="u-icons u-icons--bulletRight current" href="/fa/solutions/efactory/component/edgsw/index.html">top</a></li>
<li class="c-list__item"><a class="u-icons u-icons--bulletRight" href="/fa/solutions/efactory/component/edgsw/edgeapp/index.html">Edge Application</a></li>
<li class="c-list__item"><a class="u-icons u-icons--bulletRight" href="/fa/solutions/efactory/component/edgsw/dc/index.html">Data Collector</a></li>
<li class="c-list__item"><a class="u-icons u-icons--bulletRight" href="/fa/solutions/efactory/component/edgsw/itgw/index.html">IT Gateway</a></li>
</ul>
</div>
</div>
</main>
<div class="c-breadcrumb">
<ul class="c-breadcrumb__list" data-js-breadcrumb>
</ul><!-- /.c-breadcrumb__list -->
</div><!-- /.c-breadcrumb -->
<footer class="gs18-Footer" role="contentinfo" data-js-gs18-footer>
<!-- /.gs18-Footer --></footer>
<!-- Mel JS gws0001 -->
<script src="/fa/shared/gws0001/js/init.js"></script>
<script src="/fa/solutions/assets/js/category.js"></script>
</body>
</html>