@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i);
.gs18-Header{font-family:Roboto,sans-serif;line-height:1.4;position:relative;z-index:5001;top:0;right:0;left:0;margin:0 auto}
.gs18-Header *{box-sizing:border-box}
.gs18-Header.is-flyout{position:fixed;top:0;transition:.4s top}
.gs18-Header.is-flyout.is-hidden{top:-120px}
.gs18-Header.is-flowed{position:absolute;top:0}
.gs18-Header__Inner{position:relative;display:flex;max-width:1380px;height:85px;margin-right:auto;margin-left:auto;background-color:#fff;box-shadow:0 2px 3px 0 rgba(0,0,0,.2);align-items:center;justify-content:space-between}
.gs18-Header--simple .gs18-Header__Inner{justify-content:flex-start}
.gs18-Header__Logo{font-size:36px;margin:8px 0 0;padding:0 16px;border-width:0 1px 0 0;border-style:solid;border-color:#e1e1e1;order:1}
.gs18-Header__Logo img{width:84px;height:auto;vertical-align:baseline}
.gs18-Header__Lang{font-size:14px;font-weight:700;margin-right:10px;margin-bottom:0;margin-left:16px;white-space:nowrap;order:2}
.gs18-Header__Global{height:100%;margin-left:0;order:4}
.gs18-Header__GlobalLang{font-size:14px;font-weight:700;line-height:1.1;display:inline-block;vertical-align:6px;text-decoration:none;color:#000}
.gs18-Header__GlobalLang abbr{text-decoration:none}
.gs18-Header__GlobalLang:first-child{padding-right:5px;border-right:1px solid #000}
.gs18-Header__GlobalLang:hover{text-decoration:underline}
.gs18-Header__GlobalLink{position:relative;display:inline-block;overflow:hidden;width:66px;height:100%;white-space:nowrap;text-indent:100%}
.gs18-Header__GlobalLink::after,.gs18-Header__GlobalLink::before{position:absolute;top:0;right:0;display:inline-block;width:100%;height:100%;content:"";background:#fff no-repeat center;background-size:26px auto}
.gs18-Header__GlobalLink::before{background-image:url(../img/icon/Global-R.svg)}
.gs18-Header__GlobalLink::after{background-image:url(../img/icon/Global.svg)}
.gs18-Header__GlobalLink:active::after,.gs18-Header__GlobalLink:focus::after,.gs18-Header__GlobalLink:hover::after{opacity:0}
.gs18-Header__GlobalLink.is-current{background-color:#000}
.gs18-Header__GlobalLink.is-current::before{background-color:#000}
.gs18-Header__GlobalLink.is-current::after{background-color:#000;background-image:url(../img/icon/Global-W.svg)}
.gs18-Header__Search{display:flex;height:85px}
.gs18-Header__Search.is-open-small{overflow:visible;width:100%}
.gs18-Header__SearchInner{display:flex;background-color:#fff;align-items:center;order:5}
.gs18-Header__SearchBtn{position:relative;display:flex;width:84px;height:100%;cursor:pointer;border:0;border-left:1px solid #e0e0e0;background:url(../img/icon/Search-R.svg) no-repeat -100% -100%;align-items:center;justify-content:center}
.gs18-Header__SearchBtn::before{font-weight:700;position:absolute;top:50%;left:11px;box-sizing:content-box;width:9px;height:9px;content:"";-webkit-transform:translateY(-50%) rotate(-45deg);transform:translateY(-50%) rotate(-45deg);border-top:2px solid #000;border-left:2px solid #000}
.gs18-Header__SearchBtn>img{margin-top:1px}
.gs18-Header__SearchBtn:active,.gs18-Header__SearchBtn:focus,.gs18-Header__SearchBtn:hover{background-position:center center}
.gs18-Header__SearchBtn:active>img,.gs18-Header__SearchBtn:focus>img,.gs18-Header__SearchBtn:hover>img{opacity:0}
.gs18-Header__SearchBtn:active::before,.gs18-Header__SearchBtn:focus::before,.gs18-Header__SearchBtn:hover::before{border-color:#f50f10}
.gs18-Header__Search .gs18-SearchBox__Items,.gs18-Header__Search .mf_finder_searchBox_items{display:flex;align-items:flex-start;justify-content:space-between}
.gs18-Header__Search .gs18-SearchBox__QueryInput,.gs18-Header__Search .mf_finder_searchBox_query_input{font-size:18px;font-style:italic;border:0;border-bottom:solid 2px #000}
.gs18-Header__Search .gs18-SearchBox__QueryInput:-moz-placeholder-shown,.gs18-Header__Search .mf_finder_searchBox_query_input:-moz-placeholder-shown{color:#bbb}
.gs18-Header__Search .gs18-SearchBox__QueryInput:-ms-input-placeholder,.gs18-Header__Search .mf_finder_searchBox_query_input:-ms-input-placeholder{color:#bbb}
.gs18-Header__Search .gs18-SearchBox__QueryInput:placeholder-shown,.gs18-Header__Search .mf_finder_searchBox_query_input:placeholder-shown{color:#bbb}
.gs18-Header__Search .gs18-SearchBox__QueryInput::-webkit-input-placeholder,.gs18-Header__Search .mf_finder_searchBox_query_input::-webkit-input-placeholder{color:#bbb}
.gs18-Header__Search .gs18-SearchBox__QueryInput:-moz-placeholder,.gs18-Header__Search .mf_finder_searchBox_query_input:-moz-placeholder{opacity:1;color:#bbb}
.gs18-Header__Search .gs18-SearchBox__QueryInput::-moz-placeholder,.gs18-Header__Search .mf_finder_searchBox_query_input::-moz-placeholder{opacity:1;color:#bbb}
.gs18-Header__Search .gs18-SearchBox__QueryInput:-ms-input-placeholder,.gs18-Header__Search .mf_finder_searchBox_query_input:-ms-input-placeholder{color:#bbb}
.gs18-Header__Search .gs18-SearchBox__Submit,.gs18-Header__Search .mf_finder_searchBox_submit{width:28px;height:28px;margin-left:14px;padding:0;cursor:pointer;border:0;background:url(../img/icon/Search-R.svg) no-repeat -100% -100%}
.gs18-Header__Search .gs18-SearchBox__Submit:active,.gs18-Header__Search .gs18-SearchBox__Submit:focus,.gs18-Header__Search .gs18-SearchBox__Submit:hover,.gs18-Header__Search .mf_finder_searchBox_submit:active,.gs18-Header__Search .mf_finder_searchBox_submit:focus,.gs18-Header__Search .mf_finder_searchBox_submit:hover{background-position:center center}
.gs18-Header__Search .gs18-SearchBox__Submit:active>span,.gs18-Header__Search .gs18-SearchBox__Submit:focus>span,.gs18-Header__Search .gs18-SearchBox__Submit:hover>span,.gs18-Header__Search .mf_finder_searchBox_submit:active>span,.gs18-Header__Search .mf_finder_searchBox_submit:focus>span,.gs18-Header__Search .mf_finder_searchBox_submit:hover>span{opacity:0}
.gs18-Header__Search .gs18-SearchBox__Submit>span,.gs18-Header__Search .mf_finder_searchBox_submit>span{display:block;overflow:hidden;width:100%;height:100%;white-space:nowrap;text-indent:-9999px;background:url(../img/icon/Search.svg) no-repeat center center #fff}
.gs18-Header__Search .mf_finder_searchBox_suggest_items{position:absolute;z-index:5;top:100%;left:0;width:100%;margin:0;padding:0;list-style-type:none;background-color:rgba(0,0,0,.8)}
.gs18-Header__Search .mf_finder_searchBox_suggest_items>a{font-size:24px;font-style:italic;display:inline-block;width:100%;padding:15px 30px;text-decoration:none;color:#fff}
.gs18-Header__Search .mf_finder_searchBox_suggest_item_cur{background-color:rgba(80,80,80,.8)}
.gs18-Header__Hamburger{display:none}
.gs18-HeaderLang{order:4}
.gs18-HeaderNav{margin:0 auto;order:3}
.gs18-HeaderNav__Menu{display:flex;height:85px;margin:0;padding:0;list-style:none;align-items:center;justify-content:center}
.gs18-HeaderNav__Item{height:100%;transition:.4s opacity}
.gs18-HeaderNav__Text{font-size:17px;font-weight:400;display:flex;height:100%;padding:0 12px;text-align:center;text-decoration:none;color:#000;align-items:center}
.gs18-HeaderNav__Text:link,.gs18-HeaderNav__Text:visited{text-decoration:none;color:#000}
.gs18-HeaderNav__Text.is-current,.gs18-HeaderNav__Text.is-open{color:#fff;background:#000}
.gs18-HeaderNav__Text.is-current:active,.gs18-HeaderNav__Text.is-current:focus,.gs18-HeaderNav__Text.is-current:hover,.gs18-HeaderNav__Text.is-open:active,.gs18-HeaderNav__Text.is-open:focus,.gs18-HeaderNav__Text.is-open:hover,.gs18-HeaderNav__Text:active,.gs18-HeaderNav__Text:focus,.gs18-HeaderNav__Text:hover{color:#f50f10}
.gs18-HeaderNav__Text,.gs18-HeaderNav__Text _:-ms-lang(x)::-ms-backdrop{padding-top:30px}
.gs18-HeaderFog::after{position:fixed;z-index:5000;top:0;right:0;bottom:0;left:0;display:block;content:"";opacity:.8;background:#000}
.gs18-HeaderSubNav{position:absolute;z-index:-1;right:0;bottom:0;-webkit-transform:translate(0,100%);transform:translate(0,100%);border-radius:0 0 10px 10px;background:rgba(242,242,242,.8);box-shadow:0 2px 3px 0 rgba(0,0,0,.2);-webkit-backdrop-filter:blur(4px);backdrop-filter:blur(4px)}
.gs18-HeaderNav.is-open-small+.gs18-HeaderSubNav{display:block}
.gs18-HeaderSubNav__Menu{display:flex;margin:0;padding:0 9px;flex-wrap:wrap}
.gs18-HeaderSubNav__Item{position:relative;list-style:none}
.gs18-HeaderSubNav__Item::before{position:absolute;top:50%;left:0;display:block;width:1px;height:1em;content:"";-webkit-transform:translateY(-50%);transform:translateY(-50%);background-color:grey}
.gs18-HeaderSubNav__Item:first-child::before{content:none}
.gs18-HeaderSubNav__Text{font-size:14px;line-height:1.5;line-height:1;display:block;padding:9px 12px;text-decoration:none;color:#000!important}
.gs18-HeaderSubNav__Text:hover{text-decoration:none;color:#f50f10!important}
.gs18-HeaderPulldown{position:absolute;top:85px;left:0;display:none;overflow:hidden;width:100%}
.gs18-HeaderPulldown__Inner{display:flex;width:100%;background-color:#f6f6f6}
.gs18-HeaderPulldown__Header{padding:55px 0 30px 30px;flex-shrink:0}
.gs18-HeaderPulldown__Title{font-size:32px;font-weight:700;line-height:1;margin:0 0 40px}
.gs18-HeaderPulldown__Title>a:active,.gs18-HeaderPulldown__Title>a:focus,.gs18-HeaderPulldown__Title>a:hover,.gs18-HeaderPulldown__Title>a:link,.gs18-HeaderPulldown__Title>a:visited{cursor:default;text-decoration:none;color:#000}
.gs18-HeaderPulldown__Gotop{font-size:18px;font-weight:700;display:table-cell;height:50px;padding:0 66px 0 15px;transition:.2s background,.2s border-color,.2s color;vertical-align:middle;text-decoration:none;color:#000;border:solid 2px;background:url(../img/icon/ArrowNext.svg) no-repeat right 15px center;background-size:36px auto}
.gs18-HeaderPulldown__Gotop:link,.gs18-HeaderPulldown__Gotop:visited{color:#000}
.gs18-HeaderPulldown__Gotop:active,.gs18-HeaderPulldown__Gotop:focus,.gs18-HeaderPulldown__Gotop:hover{color:#f50f10;border-color:#fff;background-color:#fff;background-image:url(../img/icon/ArrowNext-R.svg);background-position:right 7.5px center}
.gs18-HeaderPulldown__Back{display:none}
.gs18-HeaderPulldown__Close{position:absolute;z-index:3;top:15px;right:15px;background:url(../img/icon/Close-R.svg) no-repeat -100% -100%}
.gs18-HeaderPulldown__Close img{vertical-align:top}
.gs18-HeaderPulldown__Close:active,.gs18-HeaderPulldown__Close:focus,.gs18-HeaderPulldown__Close:hover{background-position:top left}
.gs18-HeaderPulldown__Close:active img,.gs18-HeaderPulldown__Close:focus img,.gs18-HeaderPulldown__Close:hover img{opacity:0}
.gs18-HeaderPulldown__ListItem{font-size:18px;line-height:1.5}
.gs18-HeaderPulldown__ListItem>a,.gs18-HeaderPulldown__ListItem>span{position:relative;display:inline-block;min-width:0;padding:.25em 0;color:#000}
.gs18-HeaderPulldown__ListItem>a{font-weight:500;transition:.5s min-width,.5s padding,.2s color;text-decoration:none}
.gs18-HeaderPulldown__ListItem>a:not(:only-child){padding-right:32px}
.gs18-HeaderPulldown__ListItem>a:not(:only-child)::after{position:absolute;top:50%;right:16px;display:inline-block;box-sizing:content-box;width:5px;height:5px;margin:2px 3px 0 6px;content:"";-webkit-transform:translateY(-50%) rotate(-225deg);transform:translateY(-50%) rotate(-225deg);vertical-align:bottom;border-top:2px solid #000;border-left:2px solid #000}
.gs18-HeaderPulldown__ListItem>a:link,.gs18-HeaderPulldown__ListItem>a:visited{color:#000}
.gs18-HeaderPulldown__1stListWrapper{position:relative;width:100%;margin-left:60px;padding:50px 0 30px 0}
.gs18-HeaderPulldown__1stList{overflow-y:auto;height:100%;list-style:none;-ms-scroll-chaining:none;overscroll-behavior:none}
.gs18-HeaderPulldown__1stList--2col>.gs18-HeaderPulldown__ListItem{padding-right:50%}
.gs18-HeaderPulldown__1stList--3col>.gs18-HeaderPulldown__ListItem{padding-right:66.66666%}
.gs18-HeaderPulldown__1stList--3col .gs18-HeaderPulldown__2ndList.is-open{left:33.33333%;width:66.66666%}
.gs18-HeaderPulldown__1stList--3col .gs18-HeaderPulldown__2ndList>.gs18-HeaderPulldown__List>.gs18-HeaderPulldown__ListItem{padding-right:calc(50% + 15px)}
.gs18-HeaderPulldown__1stList--3col .gs18-HeaderPulldown__3rdList.is-open{left:50%;width:50%}
.gs18-HeaderPulldown__2ndList{position:absolute;z-index:2;top:0;left:50%;width:50%;height:100%;padding:50px 0 30px 30px;transition:.5s transform;-webkit-transform:translateX(100%);transform:translateX(100%);background-color:#e1e1e1}
.gs18-HeaderPulldown__2ndList.is-open{-webkit-transform:translateX(0);transform:translateX(0)}
.gs18-HeaderPulldown__2ndList .gs18-HeaderPulldown__Header{display:none}
.gs18-HeaderPulldown__2ndList>.gs18-HeaderPulldown__List{overflow:auto;height:100%;margin-left:0;-ms-scroll-chaining:none;overscroll-behavior:none}
.gs18-HeaderPulldown__2ndList .gs18-HeaderPulldown__ListItem>a.is-open{background-color:#d2d2d2}
.gs18-HeaderPulldown__3rdlist{position:absolute;z-index:2;top:0;left:50%;width:50%;height:100%;padding:50px 0 30px 30px;transition:.5s transform;-webkit-transform:translateX(100%);transform:translateX(100%);background-color:#d2d2d2}
.gs18-HeaderPulldown__3rdlist.is-open{-webkit-transform:translateX(0);transform:translateX(0)}
.gs18-HeaderPulldown__3rdlist>.gs18-HeaderPulldown__List{overflow:auto;height:100%;margin-left:0;-ms-scroll-chaining:none;overscroll-behavior:none}
.gs18-HeaderPulldown__3rdlist .gs18-HeaderPulldown__ListItem--parent{margin-bottom:5px}
.gs18-HeaderPulldown__AsideList{position:absolute;bottom:35px;left:30px}
.gs18-HeaderPulldown__AsideItem>a{font-size:16px;line-height:1.5;display:block;padding-top:.125em;padding-bottom:.125em}
.gs18-Header--BuJp .gs18-Header__Logo{margin-top:0;border-right-width:0;flex-grow:2}
.gs18-Header--BuJp .gs18-Header__Logo img{display:block;width:auto;height:37px;margin-bottom:6px}
.gs18-Header--BuJp .gs18-Header__Lang{font-weight:500;line-height:1.2;margin:0 10px 0 16px;flex-grow:2;-webkit-font-smoothing:antialiased}
.gs18-Footer{font-family:Roboto,sans-serif;font-size:18px;line-height:1.4;background-color:#dbdbdb}
.gs18-Footer *{box-sizing:border-box}
.gs18-Footer.gs18-Footer--simple{padding:30px 15px}
.gs18-Footer__Inner{position:relative}
.gs18-Footer__Global{font-size:18px;font-weight:500;line-height:1.1;margin:0;padding:1.2em;text-align:center;background-color:#e0e0e0}
.gs18-Footer__Global>a{padding:5px 36px 5px 0;text-decoration:none;color:#000;background:url(../img/icon/Global.svg) no-repeat right center,url(../img/icon/Global-R.svg) no-repeat -100% -100%;background-size:20px auto}
.gs18-Footer__Global>a:link,.gs18-Footer__Global>a:visited{color:#000}
.gs18-Footer__Global>a:active,.gs18-Footer__Global>a:focus,.gs18-Footer__Global>a:hover{color:#f50f10;background-position:-100% -100%,right center}
.gs18-Footer__List{margin-top:22px;padding:1px 0 0;list-style:none}
.gs18-Footer__List>li{display:inline-block;margin-bottom:10px}
.gs18-Footer__List>li>a{font-size:18px;font-weight:500;position:relative;padding-left:22px;text-decoration:none;color:inherit}
.gs18-Footer__List>li>a::before{font-weight:700;position:absolute;top:50%;left:0;width:9px;height:9px;content:"";-webkit-transform:translateY(-50%) rotate(-225deg);transform:translateY(-50%) rotate(-225deg);border-top:2px solid #000;border-left:2px solid #000}
.gs18-Footer__List>li>a:link,.gs18-Footer__List>li>a:visited{color:#000}
.gs18-Footer__List>li>a:active,.gs18-Footer__List>li>a:focus,.gs18-Footer__List>li>a:hover{color:#f50f10}
.gs18-Footer__List>li>a:active before,.gs18-Footer__List>li>a:focus before,.gs18-Footer__List>li>a:hover before{border-color:#f50f10}
.gs18-Footer__Links{width:100%;padding:15px 63px 15px 30px}
.gs18-Footer__Legal{font-size:18px;padding:0;list-style:none}
.gs18-Footer__Legal>li{line-height:1.1;display:inline-block;padding-right:.3em}
.gs18-Footer__Legal>li:not(:first-child){padding-left:.5em;border-left:1px solid #000}
.gs18-Footer__Legal>li>a{text-decoration:none;color:inherit}
.gs18-Footer__Legal>li>a:link,.gs18-Footer__Legal>li>a:visited{color:#000}
.gs18-Footer__Legal>li>a:active,.gs18-Footer__Legal>li>a:focus,.gs18-Footer__Legal>li>a:hover{color:#f50f10}
.gs18-Footer__Legal>li>a:active img,.gs18-Footer__Legal>li>a:focus img,.gs18-Footer__Legal>li>a:hover img{opacity:0}
.gs18-Footer__Legal>li>a img{position:relative;top:-.1em;margin-top:-5px;margin-bottom:-5px;vertical-align:middle;background:#dbdbdb}
.gs18-Footer__LegalExternal{background:url(../img/icon/External-R.svg) no-repeat 0 50%}
.gs18-Footer__SNS{line-height:20px;margin:0 0 20px;padding:0;list-style:none;vertical-align:top}
.gs18-Footer__SNS>li{display:inline-block;margin-top:20px}
.gs18-Footer__SNS>li:not(:last-child){margin-right:16px}
.gs18-Footer__SNS>li a{display:block;height:32px}
.gs18-Footer__SNS>li img{display:block;width:auto;height:32px}
.gs18-Footer__SNSLinkedin{width:auto!important;min-width:auto!important;height:32px!important;min-height:32px!important}
.gs18-Footer__SNSLinkedin img{width:auto!important;height:32px!important}
.gs18-Footer__SNSLinkedin-r{width:auto!important;min-width:auto!important;height:32px!important;min-height:32px!important}
.gs18-Footer__SNSLinkedin-r img{width:auto!important;height:32px!important}
.gs18-Footer__SNSWechat{position:relative}
.gs18-Footer__SNSWechat__QRBox{position:absolute;z-index:999;top:-40px;left:48px;display:none;width:200px;background-color:#fff;box-shadow:0 0 16px rgba(0,0,0,.5)}
.gs18-Footer__SNSWechat .gs18-Footer__SNSWechat__QRBox img{width:inherit;height:auto;margin:0}
.gs18-Footer__SNSWechat:focus img,.gs18-Footer__SNSWechat:hover img{opacity:1}
.gs18-Footer__Copyright{font-family:Roboto,sans-serif;font-size:18px;font-weight:300;margin-right:auto}
.melfa_popup .gs18-Footer__Legal{display:none}
.gs18-GoTop{position:fixed;z-index:4001;right:0;bottom:0;margin:0}
.gs18-GoTop>a{position:relative;display:block;width:48px;height:48px;color:#fff;background-color:#000}
.gs18-GoTop>a::before{position:absolute;top:55%;left:50%;width:8px;height:8px;content:"";-webkit-transform:translate(-50%,-50%) rotate(45deg);transform:translate(-50%,-50%) rotate(45deg);border-top:2px solid #fff;border-left:2px solid #fff}
.pagenav{display:none}
.gs18-HeadingLv2{font-weight:700;line-height:1.2;margin:60px 0 0;word-wrap:break-word;overflow-wrap:break-word}
body:not(.is-login) .after_login{display:none}
body.is-login .before_login{display:none}
@font-face{font-family:MelFaIcons;font-weight:400;font-style:normal;src:url(/fa/shared/gws0001/font/MelFaIcons.woff2) format("woff2")}
.u-icons.u-icons--bulletRight::before{font-family:MelFaIcons,"Material Icons";font-size:1em;display:inline-flex;width:1em;margin-right:.125em;content:"\f102";white-space:nowrap;text-decoration:none;word-wrap:normal;color:red}
@media only screen and (min-width:1101px){
/*! over Large */

}
@media only screen and (max-width:1100px){
/*! Large, Medium and Small */

}
@media only screen and (min-width:981px) and (max-width:1100px){
/*! Large only */
.gs18-HeaderNav__Text{font-size:15px;padding:0 10px}
}
@media only screen and (max-width:980px){
/*! Medium and Small */
.gs18-Header{width:100%;padding:0}
.gs18-Header__Inner{height:65px;flex-wrap:wrap}
.gs18-Header__Logo{padding-right:13px;border-right:0}
.gs18-Header__Lang{font-size:12px;margin-right:auto;margin-left:0}
.gs18-Header__Global{padding-left:0;order:2}
.gs18-Header__GlobalLink{width:48px}
.gs18-Header__GlobalLink:active::before,.gs18-Header__GlobalLink:focus::before,.gs18-Header__GlobalLink:hover::before{opacity:0}
.gs18-Header__GlobalLink:active::after,.gs18-Header__GlobalLink:focus::after,.gs18-Header__GlobalLink:hover::after{opacity:1}
.gs18-Header__GlobalLink.is-open-small{background-color:#000}
.gs18-Header__GlobalLink.is-open-small::before{opacity:0}
.gs18-Header__GlobalLink.is-open-small::after{opacity:1;background-color:#000;background-image:url(../img/icon/Global-W.svg)}
.gs18-Header__Search{display:none;height:auto;border-top:1px solid #e1e1e1;background-color:#fff;order:4}
.gs18-Header__Search.is-open-small{display:block}
.gs18-Header__SearchInner{display:flex;width:100vw;height:77px;padding:0 15px 0 15px;align-items:center;justify-content:space-between}
.gs18-Header__SearchInput{position:static;width:100%}
.gs18-Header__SearchBtn{display:none}
.gs18-Header__Search .gs18-SearchBox__QueryWrap,.gs18-Header__Search .mf_finder_searchBox_query_wrap{flex-basis:93%}
.gs18-Header__Search .gs18-SearchBox__QueryInput,.gs18-Header__Search .mf_finder_searchBox_query_input{display:block;width:100%;height:32px;padding:0;border-radius:0}
.gs18-Header__Search .gs18-SearchBox__Submit:active>span,.gs18-Header__Search .gs18-SearchBox__Submit:focus>span,.gs18-Header__Search .gs18-SearchBox__Submit:hover>span,.gs18-Header__Search .mf_finder_searchBox_submit:active>span,.gs18-Header__Search .mf_finder_searchBox_submit:focus>span,.gs18-Header__Search .mf_finder_searchBox_submit:hover>span{opacity:1}
.gs18-Header__Search .gs18-SearchBox__Submit,.gs18-Header__Search .mf_finder_searchBox_submit{background-position:-100px -100px;flex-basis:28px}
.gs18-Header__Hamburger{display:flex;width:48px;height:100%;text-align:center;border-width:0 0 0 1px;border-style:solid;border-color:#e1e1e1;align-items:center;justify-content:center;order:3}
.gs18-Header__Hamburger.is-open-small{background:url(../img/icon/Close.svg) no-repeat center;background-size:20px auto}
.gs18-Header__Hamburger.is-open-small>img{display:none}
.gs18-HeaderLang{order:2}
.gs18-HeaderNav{display:none;order:5}
.gs18-HeaderNav.is-open-small{display:block;width:100%;pointer-events:none}
.gs18-HeaderNav.is-open-small>*{pointer-events:all}
.gs18-HeaderNav__Menu{position:relative;left:0;display:block;width:100%;height:auto;padding:0;transition:.5s left;border-top:1px solid #e1e1e1}
.gs18-HeaderNav__Menu.is-step0{left:0}
.gs18-HeaderNav__Menu.is-step1{left:-100%}
.gs18-HeaderNav__Menu.is-step2{left:-200%}
.gs18-HeaderNav__Item{border-bottom:1px solid #e1e1e1;background-color:#fff}
.gs18-HeaderNav__Text{position:relative;width:100vw;padding:15px}
.gs18-HeaderNav__Text::before{position:absolute;top:50%;right:20px;width:6px;height:6px;content:"";-webkit-transform:translateY(-50%) rotate(-225deg);transform:translateY(-50%) rotate(-225deg);border-top:1px solid #000;border-left:1px solid #000}
.gs18-Header--MinInteraction .gs18-HeaderNav__Text::before{display:none}
.gs18-HeaderNav__Text:active,.gs18-HeaderNav__Text:focus,.gs18-HeaderNav__Text:hover{color:#000}
.gs18-HeaderNav__Text.is-current,.gs18-HeaderNav__Text.is-open{color:#fff;background-color:#000}
.gs18-HeaderNav__Text.is-current::before,.gs18-HeaderNav__Text.is-open::before{border-color:#fff}
.gs18-HeaderNav__Text.is-current:active::before,.gs18-HeaderNav__Text.is-current:focus::before,.gs18-HeaderNav__Text.is-current:hover::before,.gs18-HeaderNav__Text.is-open:active::before,.gs18-HeaderNav__Text.is-open:focus::before,.gs18-HeaderNav__Text.is-open:hover::before,.gs18-HeaderNav__Text:active::before,.gs18-HeaderNav__Text:focus::before,.gs18-HeaderNav__Text:hover::before{border-color:#fff}
.gs18-HeaderSubNav{position:relative;top:0;bottom:auto;display:none;width:100%;min-height:40px;-webkit-transform:translate(0,0);transform:translate(0,0);border-radius:0;background:#fafafa;order:6}
.gs18-HeaderSubNav__Menu{padding:0 15px}
.gs18-HeaderSubNav__Item::before{content:none}
.gs18-HeaderSubNav__Item{width:50%}
.gs18-HeaderSubNav__Text{font-size:15px;overflow:hidden;padding:15px 0;text-align:left;word-break:keep-all}
.gs18-HeaderPulldown{top:0;left:100%;overflow:inherit;width:100%;background-color:#fff}
.gs18-HeaderPulldown.is-current-small{z-index:1;display:block}
.gs18-HeaderPulldown__Inner{flex-direction:column;min-height:0}
.gs18-HeaderPulldown__Header{display:flex;width:100vw;min-height:120px;padding:15px 15px 5px;color:#fff;background-color:#000;align-items:center;flex-wrap:wrap}
.gs18-HeaderPulldown__Title{font-size:32px;width:100%;margin-bottom:0}
.gs18-HeaderPulldown__Title>a:active,.gs18-HeaderPulldown__Title>a:focus,.gs18-HeaderPulldown__Title>a:hover,.gs18-HeaderPulldown__Title>a:link,.gs18-HeaderPulldown__Title>a:visited{text-decoration:underline;color:#fff}
.gs18-HeaderPulldown__Gotop{display:none}
.gs18-HeaderPulldown__Back{font-size:16px;font-weight:500;position:relative;display:block;width:100%;margin-top:10px;margin-bottom:10px;padding-left:16px;text-decoration:none;color:#fff}
.gs18-HeaderPulldown__Back:link,.gs18-HeaderPulldown__Back:visited{color:#fff}
.gs18-HeaderPulldown__Back::before{position:absolute;top:50%;left:0;width:6px;height:6px;content:"";-webkit-transform:translateY(-50%) rotate(-45deg);transform:translateY(-50%) rotate(-45deg);border-top:1px solid #fff;border-left:1px solid #fff}
.gs18-HeaderPulldown__Close{display:none}
.gs18-HeaderPulldown__ListItem{font-size:16px}
.gs18-HeaderPulldown__ListItem>a,.gs18-HeaderPulldown__ListItem>span{display:block;width:100%;padding:1em 15px;border-bottom:1px solid #e1e1e1}
.gs18-HeaderPulldown__ListItem>a:not(:only-child){padding-right:30px}
.gs18-HeaderPulldown__ListItem>a:not(:only-child)::after{right:19px;width:6px;height:6px;border-top:1px solid #000;border-left:1px solid #000}
.gs18-HeaderPulldown__ListItem>a:hover{width:100%;background-color:#fff}
.gs18-HeaderPulldown__AsideList{position:static;display:flex;padding:15px;flex-wrap:wrap}
.gs18-HeaderPulldown__AsideItem{width:50%}
.gs18-Footer{width:100%;height:auto;padding:30px 15px}
.gs18-Footer__Inner{margin-bottom:54px}
.gs18-Footer__Global{font-size:16px;margin:-30px -15px 30px;padding:1.75em 15px;text-align:left}
.gs18-Footer__Global>a{padding-bottom:3px}
.gs18-Footer__Title{margin-top:0;padding-top:10px}
.gs18-Footer__List{width:100%}
.gs18-Footer__List>li{display:block;width:100%;margin-bottom:18px}
.gs18-Footer__List>li>a{font-size:16px}
.gs18-Footer__Links{margin-top:54px;padding:0}
.gs18-Footer__Legal{font-size:16px}
.gs18-Footer__SNS>li:not(:last-child){margin-right:20px}
.gs18-Footer__Copyright{font-size:16px}
.gs18-HeaderLang .gs18-HeaderLang__List{font-size:18px;font-weight:500;position:absolute;right:0;display:none;overflow:hidden;width:100%;margin:0;padding:0;list-style:none;background:#000}
.gs18-HeaderLang .gs18-HeaderLang__List>li{border-top:solid 1px #272727}
.gs18-HeaderLang .gs18-HeaderLang__List>li>a{display:block;padding:15px;text-decoration:none;color:#fff}
.gs18-HeaderLang .gs18-HeaderLang__List>li>a:active,.gs18-HeaderLang .gs18-HeaderLang__List>li>a:focus,.gs18-HeaderLang .gs18-HeaderLang__List>li>a:hover{color:#f50f10}
.gs18-HeaderLang .gs18-HeaderLang__Lang{font-size:14px;font-weight:500;position:relative;display:block;box-sizing:border-box;width:59px;height:65px;padding:24px 14px 22px 0;text-align:center;text-decoration:none;color:#000}
.gs18-HeaderLang .gs18-HeaderLang__Lang:before{position:absolute;top:29px;right:14px;display:block;width:0;height:0;content:"";border-width:7px 4px 0 4px;border-style:solid;border-color:#000 transparent transparent transparent}
.gs18-HeaderLang .gs18-HeaderLang__Lang:active,.gs18-HeaderLang .gs18-HeaderLang__Lang:focus,.gs18-HeaderLang .gs18-HeaderLang__Lang:hover{color:#f50f10}
.gs18-HeaderLang .gs18-HeaderLang__Lang:active:before,.gs18-HeaderLang .gs18-HeaderLang__Lang:focus:before,.gs18-HeaderLang .gs18-HeaderLang__Lang:hover:before{border-top-color:#f50f10}
.gs18-HeaderLang .gs18-HeaderLang__Lang>abbr{text-decoration:none}
.gs18-HeaderLang.is-open .gs18-HeaderLang__Lang{color:#fff;background:#000}
.gs18-HeaderLang.is-open .gs18-HeaderLang__Lang::before{-webkit-transform:rotate(180deg);transform:rotate(180deg);border-top-color:#fff}
.gs18-HeaderLang.is-open .gs18-HeaderLang__Lang:active,.gs18-HeaderLang.is-open .gs18-HeaderLang__Lang:focus,.gs18-HeaderLang.is-open .gs18-HeaderLang__Lang:hover{color:#f50f10}
.gs18-HeaderLang.is-open .gs18-HeaderLang__Lang:active:before,.gs18-HeaderLang.is-open .gs18-HeaderLang__Lang:focus:before,.gs18-HeaderLang.is-open .gs18-HeaderLang__Lang:hover:before{border-top-color:#f50f10}
.gs18-HeaderLang.is-open .gs18-HeaderLang__List{display:block}
.gs18-HeaderLang__Stage--Double .gs18-HeaderLang__Lang{display:none}
.gs18-HeaderLang__Stage--Double .gs18-HeaderLang__Lang.gs18-HeaderLang__Lang-Current{display:block}
}
@media only screen and (min-width:981px){
/*! over Medium */
.gs18-Header__Inner{padding-right:0}
.gs18-Header__Inner.is-search-open .gs18-HeaderNav__Item,.gs18-Header__Inner.is-search-open .gs18-Header__Global{display:none}
.gs18-Header__Global{margin-left:0}
.gs18-Header__GlobalLink{width:61px}
.gs18-Header__GlobalLink.is-open{background-color:#000}
.gs18-Header__GlobalLink.is-open::before{background-color:#000}
.gs18-Header__GlobalLink.is-open::after{opacity:1;background-color:#000;background-image:url(../img/icon/Global-W.svg)}
.gs18-Header__GlobalLink.is-open:active::after,.gs18-Header__GlobalLink.is-open:focus::after,.gs18-Header__GlobalLink.is-open:hover::after{opacity:0}
.gs18-Header__Search{z-index:1;right:0;height:100%;order:5}
.gs18-Header__Search.is-open .gs18-Header__SearchInput{width:604px;border-left:1px solid #e0e0e0}
.gs18-Header__Search.is-open .gs18-Header__SearchInner>button{background:url(../img/icon/Close-R.svg) no-repeat center center}
.gs18-Header__Search.is-open .gs18-Header__SearchInner>button::before{content:none}
.gs18-Header__Search.is-open .gs18-Header__SearchInner>button::after{display:block;margin-top:5px;content:url(../img/icon/Close.svg);background:#fff}
.gs18-Header__Search.is-open .gs18-Header__SearchInner>button:active::after,.gs18-Header__Search.is-open .gs18-Header__SearchInner>button:focus::after,.gs18-Header__Search.is-open .gs18-Header__SearchInner>button:hover::after{opacity:0}
.gs18-Header__Search.is-open .gs18-Header__SearchInner>button>img{overflow:hidden;width:0;opacity:0}
.gs18-Header__SearchInput{visibility:hidden;overflow:hidden;width:0;height:100%;transition:.5s width}
.is-search-open .gs18-Header__SearchInput{visibility:visible}
.gs18-Header__SearchBtn>img{margin-left:1px}
.gs18-Header__Search .gs18-SearchBox,.gs18-Header__Search .mf_finder_searchBox{padding:30px 30px 20px}
.gs18-Header__Search .gs18-SearchBox__QueryInput,.gs18-Header__Search .mf_finder_searchBox_query_input{font-size:17px;font-style:italic;width:490px;padding:6px 5px 6px 5px;border:0;border-bottom:solid 2px #000}
.gs18-Header__Search .gs18-SearchBox__QueryInput:-moz-placeholder-shown,.gs18-Header__Search .mf_finder_searchBox_query_input:-moz-placeholder-shown{color:#888}
.gs18-Header__Search .gs18-SearchBox__QueryInput:-ms-input-placeholder,.gs18-Header__Search .mf_finder_searchBox_query_input:-ms-input-placeholder{color:#888}
.gs18-Header__Search .gs18-SearchBox__QueryInput:placeholder-shown,.gs18-Header__Search .mf_finder_searchBox_query_input:placeholder-shown{color:#888}
.gs18-Header__Search .gs18-SearchBox__QueryInput::-webkit-input-placeholder,.gs18-Header__Search .mf_finder_searchBox_query_input::-webkit-input-placeholder{color:#888}
.gs18-Header__Search .gs18-SearchBox__QueryInput:-moz-placeholder,.gs18-Header__Search .mf_finder_searchBox_query_input:-moz-placeholder{opacity:1;color:#888}
.gs18-Header__Search .gs18-SearchBox__QueryInput::-moz-placeholder,.gs18-Header__Search .mf_finder_searchBox_query_input::-moz-placeholder{opacity:1;color:#888}
.gs18-Header__Search .gs18-SearchBox__QueryInput:-ms-input-placeholder,.gs18-Header__Search .mf_finder_searchBox_query_input:-ms-input-placeholder{color:#888}
.gs18-HeaderNav{width:100%}
.gs18-HeaderNav .is-nav-open .gs18-HeaderNav__Text.is-current{color:#000;background:#fff}
.gs18-HeaderNav .is-nav-open .gs18-HeaderNav__Text.is-open{color:#fff;background:#000}
.gs18-HeaderNav .is-nav-open .gs18-HeaderNav__Text:active,.gs18-HeaderNav .is-nav-open .gs18-HeaderNav__Text:focus,.gs18-HeaderNav .is-nav-open .gs18-HeaderNav__Text:hover{color:red}
.gs18-HeaderNav__Text.is-current,.gs18-HeaderNav__Text.is-open{color:#fff;background:#000}
.gs18-HeaderPulldown.is-open{display:block}
.gs18-HeaderPulldown__Inner{position:relative;overflow:hidden;max-width:1380px;min-height:max(70vh,450px);max-height:calc(100vh - 120px);margin-right:auto;margin-left:auto}
.gs18-HeaderPulldown__ListItem>a.is-open{min-width:100%;padding-left:14px;color:#000;background-color:#e1e1e1}
.gs18-HeaderPulldown__ListItem>a.is-open:active,.gs18-HeaderPulldown__ListItem>a.is-open:focus,.gs18-HeaderPulldown__ListItem>a.is-open:hover,.gs18-HeaderPulldown__ListItem>a:active,.gs18-HeaderPulldown__ListItem>a:focus,.gs18-HeaderPulldown__ListItem>a:hover{color:#f50f10}
.gs18-HeaderPulldown__ListItem>a.is-open:active:not(:only-child)::after,.gs18-HeaderPulldown__ListItem>a.is-open:focus:not(:only-child)::after,.gs18-HeaderPulldown__ListItem>a.is-open:hover:not(:only-child)::after,.gs18-HeaderPulldown__ListItem>a:active:not(:only-child)::after,.gs18-HeaderPulldown__ListItem>a:focus:not(:only-child)::after,.gs18-HeaderPulldown__ListItem>a:hover:not(:only-child)::after{border-color:#f50f10}
.gs18-Footer__Inner{max-width:1473px;height:260px;height:230px;margin:0 auto;padding:0 63px 30px 30px;padding-bottom:0}
.gs18-Footer__Title{margin-top:0;padding-top:60px}
.gs18-Footer__List{display:inline-block;width:680px}
.gs18-Footer__List>li{display:inline-block;margin-bottom:0}
.gs18-Footer__List>li:nth-child(odd){margin-right:60px}
.gs18-Footer__List>li>a{font-size:18px;font-weight:500;position:relative;padding-left:22px;text-decoration:none;color:inherit}
.gs18-Footer__List>li>a::before{font-weight:700;position:absolute;top:50%;left:0;width:9px;height:9px;content:"";-webkit-transform:translateY(-50%) rotate(-225deg);transform:translateY(-50%) rotate(-225deg);border-top:2px solid #000;border-left:2px solid #000}
.gs18-Footer__Links{position:absolute;position:static;bottom:0;left:0;display:flex;max-width:1473px;margin-right:auto;margin-left:auto;padding-top:0;align-items:baseline}
[data-js-gs18-footer-sns]+.gs18-Footer__Links{margin-top:200px}
.gs18-Footer__Legal{order:2}
.gs18-Footer__SNS{display:inline-block;margin-right:20px;margin-bottom:0}
.gs18-Footer__Copyright{order:1}
.gs18-Footer__Logo{display:none}
.gs18-HeaderLang{height:100%}
.gs18-HeaderLang .gs18-HeaderLang__Lang{font-weight:500}
.gs18-HeaderLang .gs18-HeaderLang__Lang>abbr{text-decoration:none}
.gs18-HeaderLang .gs18-HeaderLang__Stage{position:relative;height:100%}
.gs18-HeaderLang .gs18-HeaderLang__List{font-size:18px;font-weight:500;position:absolute;left:0;display:none;overflow:hidden;width:215px;margin:0;padding:0;list-style:none;background:#000}
.gs18-HeaderLang .gs18-HeaderLang__List>li{border-top:solid 1px #272727}
.gs18-HeaderLang .gs18-HeaderLang__List>li>a{display:block;padding:15px;text-decoration:none;color:#fff}
.gs18-HeaderLang .gs18-HeaderLang__List>li>a:active,.gs18-HeaderLang .gs18-HeaderLang__List>li>a:focus,.gs18-HeaderLang .gs18-HeaderLang__List>li>a:hover{color:#f50f10}
.gs18-HeaderLang[data-js-gs18-lang-switch="2"] .gs18-HeaderLang__List{display:none}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Double{font-size:14px;display:flex}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Double .gs18-HeaderLang__Lang{box-sizing:border-box;width:48px;height:85px;padding:32px 0;text-align:center;text-decoration:none;color:#000}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Double .gs18-HeaderLang__Lang:first-child{position:relative;margin-right:1px}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Double .gs18-HeaderLang__Lang:first-child:before{position:absolute;top:28px;right:-1px;display:block;height:26px;content:"";border-right:1px solid #e0e0e0}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Double .gs18-HeaderLang__Lang:active,.gs18-HeaderLang .gs18-HeaderLang__Stage--Double .gs18-HeaderLang__Lang:focus,.gs18-HeaderLang .gs18-HeaderLang__Stage--Double .gs18-HeaderLang__Lang:hover{color:#f50f10}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Double .gs18-HeaderLang__Lang-Current>abbr{position:relative}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Double .gs18-HeaderLang__Lang-Current>abbr:before{position:absolute;bottom:-4px;width:100%;content:"";border-bottom:2px solid #000}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Multiple{font-size:14px}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang{position:relative;display:block;box-sizing:border-box;width:69px;height:85px;padding:34px 20px 32px 0;text-align:center;text-decoration:none;color:#000}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:before{position:absolute;top:39px;right:20px;display:block;width:0;height:0;content:"";border-width:7px 4px 0 4px;border-style:solid;border-color:#000 transparent transparent transparent}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:active,.gs18-HeaderLang .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:focus,.gs18-HeaderLang .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:hover{color:#f50f10}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:active:before,.gs18-HeaderLang .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:focus:before,.gs18-HeaderLang .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:hover:before{border-top-color:#f50f10}
.gs18-HeaderLang.is-open .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__List{display:block}
.gs18-HeaderLang.is-open .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang{color:#fff;background:#000}
.gs18-HeaderLang.is-open .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang::before{-webkit-transform:rotate(180deg);transform:rotate(180deg);border-top-color:#fff}
.gs18-HeaderLang.is-open .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:active,.gs18-HeaderLang.is-open .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:focus,.gs18-HeaderLang.is-open .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:hover{color:#f50f10}
.gs18-HeaderLang.is-open .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:active:before,.gs18-HeaderLang.is-open .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:focus:before,.gs18-HeaderLang.is-open .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:hover:before{border-top-color:#f50f10}
}
@media only screen and (min-width:768px) and (max-width:980px){
/*! Medium only */

}
@media only screen and (min-width:768px){
/*! Large and Medium */
.gs18-Footer__Title{font-size:28px}
}
@media only screen and (max-width:767px){
/*! Small only */
.gs18-Footer__Title{font-size:1.5rem}
.gs18-Footer__Legal{font-size:17px}
.gs18-Footer__Copyright{font-size:17px}
}
@media print{
#module_breadcrumbs,.c-breadcrumb,.c-floatingNav,.c-localNav,.c-switchNav,.gs18-Footer{display:none!important}
.l-inner,.l-inner--large,.l-inner--medium{max-width:none!important;padding-right:0!important;padding-left:0!important}
.gs18-Header.is-flyout{position:absolute}
.gs18-Header.is-flyout.is-hidden{top:0}
.gs18-Header__GlobalLink.is-open{background-color:#000}
.gs18-Header__GlobalLink.is-open::before{background-color:#000}
.gs18-Header__GlobalLink.is-open::after{opacity:1;background-color:#000;background-image:url(../img/icon/Global-W.svg)}
.gs18-Header__GlobalLink.is-open:active::after,.gs18-Header__GlobalLink.is-open:focus::after,.gs18-Header__GlobalLink.is-open:hover::after{opacity:0}
html{font-size:112.5%}
body{width:1440px;-webkit-transform:scale(.75);transform:scale(.75);-webkit-transform-origin:0 0;transform-origin:0 0}
.gs18-Header__Inner{padding-right:0}
.gs18-Header__Inner.is-search-open .gs18-HeaderLang,.gs18-Header__Inner.is-search-open .gs18-HeaderNav__Item,.gs18-Header__Inner.is-search-open .gs18-Header__Global{display:none}
.gs18-Header__Logo>img{width:110px}
.gs18-Header__Global{margin-left:0}
.gs18-Header__GlobalLink{width:61px}
.gs18-Header__Search{z-index:1;right:0;height:100%;order:5}
.gs18-Header__Search.is-open .gs18-Header__SearchInput{width:604px;border-left:1px solid #e0e0e0}
.gs18-Header__Search.is-open .gs18-Header__SearchInner>button{background:url(../img/icon/Close-R.svg) no-repeat center center}
.gs18-Header__Search.is-open .gs18-Header__SearchInner>button>img{overflow:hidden;width:0;opacity:0}
.gs18-Header__Search.is-open .gs18-Header__SearchInner>button::before{content:none}
.gs18-Header__Search.is-open .gs18-Header__SearchInner>button::after{display:block;margin-top:5px;content:url(../img/icon/Close.svg);background:#fff}
.gs18-Header__Search.is-open .gs18-Header__SearchInner>button:active::after,.gs18-Header__Search.is-open .gs18-Header__SearchInner>button:focus::after,.gs18-Header__Search.is-open .gs18-Header__SearchInner>button:hover::after{opacity:0}
.gs18-Header__SearchInput{visibility:hidden;overflow:hidden;width:0;height:100%;transition:.5s width}
.is-search-open .gs18-Header__SearchInput{visibility:visible}
.gs18-Header__SearchInput .gs18-SearchBox,.gs18-Header__SearchInput .mf_finder_searchBox{padding:30px 30px 20px}
.gs18-Header__SearchInput .gs18-SearchBox__QueryInput,.gs18-Header__SearchInput .mf_finder_searchBox_query_input{font-size:24px;font-style:italic;width:500px;border:0;border-bottom:solid 2px #000}
.gs18-Header__SearchInput .gs18-SearchBox__QueryInput:-ms-input-placeholder,.gs18-Header__SearchInput .gs18-SearchBox__QueryInput::-webkit-input-placeholder,.gs18-Header__SearchInput .gs18-SearchBox__QueryInput:placeholder-shown,.gs18-Header__SearchInput .mf_finder_searchBox_query_input:-ms-input-placeholder,.gs18-Header__SearchInput .mf_finder_searchBox_query_input::-webkit-input-placeholder,.gs18-Header__SearchInput .mf_finder_searchBox_query_input:placeholder-shown{color:#888}
.gs18-Header__SearchInput .gs18-SearchBox__QueryInput:-moz-placeholder,.gs18-Header__SearchInput .gs18-SearchBox__QueryInput::-moz-placeholder,.gs18-Header__SearchInput .mf_finder_searchBox_query_input:-moz-placeholder,.gs18-Header__SearchInput .mf_finder_searchBox_query_input::-moz-placeholder{opacity:1;color:#888}
.gs18-Header__SearchBtn>img{margin-left:1px}
.gs18-HeaderNav.is-nav-open .gs18-HeaderNav__Text.is-current{color:#000;background:#fff}
.gs18-HeaderNav.is-nav-open .gs18-HeaderNav__Text.is-open{color:#fff;background:#000}
.gs18-HeaderNav.is-nav-open .gs18-HeaderNav__Text:active,.gs18-HeaderNav.is-nav-open .gs18-HeaderNav__Text:focus,.gs18-HeaderNav.is-nav-open .gs18-HeaderNav__Text:hover{color:red}
.gs18-HeaderNav__Text.is-current,.gs18-HeaderNav__Text.is-open{color:#fff;background:#000}
.gs18-HeaderPulldown.is-open{display:block}
.gs18-HeaderPulldown__Inner{position:relative;overflow:hidden;max-width:1380px;margin-right:auto;margin-left:auto}
.gs18-HeaderPulldown__2ndList.is-open{-webkit-transform:translateX(0);transform:translateX(0)}
.gs18-HeaderPulldown__ListItem>a.is-open{width:51%;padding-left:14px;color:#000;background-color:#e1e1e1}
.gs18-HeaderPulldown__ListItem>a.is-open::after{right:15px}
.gs18-HeaderPulldown__ListItem>a.is-open:active,.gs18-HeaderPulldown__ListItem>a.is-open:focus,.gs18-HeaderPulldown__ListItem>a.is-open:hover,.gs18-HeaderPulldown__ListItem>a:active,.gs18-HeaderPulldown__ListItem>a:focus,.gs18-HeaderPulldown__ListItem>a:hover{color:#f50f10}
.gs18-HeaderPulldown__ListItem>a.is-open:active:not(:only-child)::after,.gs18-HeaderPulldown__ListItem>a.is-open:focus:not(:only-child)::after,.gs18-HeaderPulldown__ListItem>a.is-open:hover:not(:only-child)::after,.gs18-HeaderPulldown__ListItem>a:active:not(:only-child)::after,.gs18-HeaderPulldown__ListItem>a:focus:not(:only-child)::after,.gs18-HeaderPulldown__ListItem>a:hover:not(:only-child)::after{border-color:#f50f10}
.gs18-HeadingLv2{font-size:1.56rem}
.gs18-Footer__Inner{max-width:1380px;height:260px;margin:0 auto;padding:0 30px 30px}
.gs18-Footer__Title{margin-top:0;padding-top:60px}
.gs18-Footer__List{display:inline-block;width:680px}
.gs18-Footer__List>li{display:inline-block;margin-bottom:0}
.gs18-Footer__List>li:nth-child(odd){margin-right:60px}
.gs18-Footer__List>li>a{font-size:18px;font-weight:500;position:relative;padding-left:22px;text-decoration:none;color:inherit}
.gs18-Footer__List>li>a::before{font-weight:700;position:absolute;top:50%;left:0;width:9px;height:9px;content:"";-webkit-transform:translateY(-50%) rotate(-225deg);transform:translateY(-50%) rotate(-225deg);border-top:2px solid #000;border-left:2px solid #000}
.gs18-Footer__Links{position:absolute;bottom:0;left:0;display:flex;padding-top:0;align-items:baseline}
.gs18-Footer__SNS{display:inline-block;margin-right:20px;margin-bottom:0}
.gs18-Footer__Legal{order:2}
.gs18-Footer__Copyright{order:1}
.gs18-HeaderLang{height:100%}
.gs18-HeaderLang .gs18-HeaderLang__Lang{font-weight:500}
.gs18-HeaderLang .gs18-HeaderLang__Lang>abbr{text-decoration:none}
.gs18-HeaderLang .gs18-HeaderLang__Stage{position:relative;height:100%}
.gs18-HeaderLang .gs18-HeaderLang__List{font-size:18px;font-weight:500;position:absolute;left:0;display:none;overflow:hidden;width:215px;margin:0;padding:0;list-style:none;background:#000}
.gs18-HeaderLang .gs18-HeaderLang__List>li{border-top:solid 1px #272727}
.gs18-HeaderLang .gs18-HeaderLang__List>li>a{display:block;padding:15px;text-decoration:none;color:#fff}
.gs18-HeaderLang .gs18-HeaderLang__List>li>a:active,.gs18-HeaderLang .gs18-HeaderLang__List>li>a:focus,.gs18-HeaderLang .gs18-HeaderLang__List>li>a:hover{color:#f50f10}
.gs18-HeaderLang[data-js-gs18-lang-switch="2"] .gs18-HeaderLang__List{display:none}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Double{font-size:14px;display:flex}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Double .gs18-HeaderLang__Lang{box-sizing:border-box;width:48px;height:85px;padding:32px 0;text-align:center;text-decoration:none;color:#000}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Double .gs18-HeaderLang__Lang:first-child{position:relative;margin-right:1px}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Double .gs18-HeaderLang__Lang:first-child:before{position:absolute;top:28px;right:-1px;display:block;height:26px;content:"";border-right:1px solid #e0e0e0}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Double .gs18-HeaderLang__Lang:active,.gs18-HeaderLang .gs18-HeaderLang__Stage--Double .gs18-HeaderLang__Lang:focus,.gs18-HeaderLang .gs18-HeaderLang__Stage--Double .gs18-HeaderLang__Lang:hover{color:#f50f10}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Double .gs18-HeaderLang__Lang-Current>abbr{position:relative}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Double .gs18-HeaderLang__Lang-Current>abbr:before{position:absolute;bottom:-4px;width:100%;content:"";border-bottom:2px solid #000}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Multiple{font-size:14px}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang{position:relative;display:block;box-sizing:border-box;width:69px;height:85px;padding:34px 20px 32px 0;text-align:center;text-decoration:none;color:#000}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:before{position:absolute;top:39px;right:20px;display:block;width:0;height:0;content:"";border-width:7px 4px 0 4px;border-style:solid;border-color:#000 transparent transparent transparent}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:active,.gs18-HeaderLang .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:focus,.gs18-HeaderLang .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:hover{color:#f50f10}
.gs18-HeaderLang .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:active:before,.gs18-HeaderLang .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:focus:before,.gs18-HeaderLang .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:hover:before{border-top-color:#f50f10}
.gs18-HeaderLang.is-open .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__List{display:block}
.gs18-HeaderLang.is-open .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang{color:#fff;background:#000}
.gs18-HeaderLang.is-open .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang::before{-webkit-transform:rotate(180deg);transform:rotate(180deg);border-top-color:#fff}
.gs18-HeaderLang.is-open .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:active,.gs18-HeaderLang.is-open .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:focus,.gs18-HeaderLang.is-open .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:hover{color:#f50f10}
.gs18-HeaderLang.is-open .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:active:before,.gs18-HeaderLang.is-open .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:focus:before,.gs18-HeaderLang.is-open .gs18-HeaderLang__Stage--Multiple .gs18-HeaderLang__Lang:hover:before{border-top-color:#f50f10}
}
@media only screen and (max-width:980px) and (max-width:360px){
.gs18-HeaderLang .gs18-HeaderLang__Lang{width:49px;padding-right:10px}
.gs18-HeaderLang .gs18-HeaderLang__Lang:before{right:10px}
}