.contens-iframe-video {
	position: relative;
	/*
	/border: solid 5px #fff;
	/border-bottom: solid 0px;
	/box-sizing:border-box;　*/
}


.lineHide {
	position:absolute;
	background: #f9f5fa; 
	height: 7px;
	width: 100%;
	bottom: 3px;
	left: 0;
}

