@charset "UTF-8";

/* 基本要素
***************************** */
.expert-views img { image-rendering: -webkit-optimize-contrast; }
.expert-views b,
.expert-views strong { font-weight: 700; }
@media only screen and (max-width:767px){
	.l-inner-medium .c-img,.l-inner-medium .c-imgAuto{text-align:center;}
	.l-inner-medium .c-img>img,.l-inner-medium .c-imgAuto>img{width:auto;max-width:100%;}
	.l-inner--medium .c-img,.l-inner--medium .c-imgAuto{text-align:center;}
	.l-inner--medium .c-img>img,.l-inner--medium .c-imgAuto>img{width:auto;max-width:100%;}
}

/* c-profile
***************************** */
.expert-views .c-profile { padding: 30px; border: 1px solid #bbb; }
.expert-views .c-profile-title { font-size: 20px; font-weight: bold; margin-bottom: 20px; padding-bottom: 15px; border-bottom: 1px solid #bbb; }
.expert-views .c-profile-text { font-size: 16px; line-height: 1.8; }

.expert-views  .c-question { font-size: 16px; font-weight: bold; color: #00487d; line-height:1.8; margin-top:30px; }

@media only screen and (max-width:767px){
	.expert-views .c-link-break { word-break: break-all; }
}

/* 目次
***************************** */
.expert-views .pages{border-bottom:1px dotted #bdbdbd;line-height: 1.8;}
.expert-views .pages-item{border-top:1px dotted #bdbdbd;line-height: 1.5;}
.expert-views .pages-item .u-icons{display:block;padding-top:10px;padding-bottom:10px;padding-left:10px;}
.expert-views .pages-item .u-icons:hover{text-decoration:none;}
.expert-views .pages-item span.u-icons:before{display: none;}
.expert-views .pages-item .u-icons.current{background-color:#f5f5f5;}
@media only screen and (min-width:768px){
	.expert-views .pages-item a{transition:background-color 0.3s ease, color 0.3s ease;}
	.expert-views .pages-item a:hover{background-color:#f5f5f5;}
}
