@charset "UTF-8";
.icon_list{display:flex;margin-top:1em;list-style:none;align-items:center;justify-content:flex-end}
.icon_list li{font-size:85%;padding:2px 5px 2px 12px}
.icon_list li.gijutsu:before{margin-right:4px;content:"●";color:#c65204}
.icon_list li.training:before{margin-right:4px;content:"●";color:#ffce3b}
.icon_list li.sample:before{margin-right:4px;content:"●";color:#136b6b}
.icon_list li.finance:before{margin-right:4px;content:"●";color:#00dbb4}
.icon_list li.after:before{margin-right:4px;content:"●";color:#008bdb}
.icon_list li.show:before{margin-right:4px;content:"●";color:#2049be}
.sup_box dl{margin:10px 0 0 0;padding:0;border:none}
.sup_box dl dt{font-weight:400;float:left}
.sup_box dl dd{padding-left:70px;background:0 0}
.psirt-table th{text-align:center}
.psirt-table td{font-size:12px;vertical-align:top}
.psirt-table td p{font-size:12px;margin-top:10px}
.psirt-table .text_center{text-align:center}
.local_office_officeTitle{font-size:20px;font-weight:700;line-height:1.5;margin-bottom:10px}
.local_office_descriptionListSub{padding:20px 0;border-top:1px #bdbdbd solid;border-bottom:1px #bdbdbd solid}
.local_office_descriptionListSub>dt{font-size:16px;font-weight:700;line-height:1.8;margin-bottom:10px}
.local_office_descriptionListSub>dd{margin-left:1em}
.local_office_descriptionListSub>dd dd,.local_office_descriptionListSub>dd>dt{font-size:16px;line-height:1.8}
.local_network_captionTitle{font-size:16px;font-weight:700;line-height:1.8;margin-top:20px}
.table_titleArea{display:flex;justify-content:space-between}
.table_titleArea .c-text{margin-top:20px}
.local-network_tab .c-tab__inner{padding:2em;background:#fff}
.melfa_support_map{position:relative;width:980px;height:585px;margin:auto}
.melfa_support_map .melfa_support_map_img{position:absolute;display:none}
.melfa_support_map .melfa_support_map_link{font-size:13px;position:absolute;padding:15px;white-space:nowrap;border:1px solid #ccc;background-color:#fff}
.melfa_support_map .melfa_support_map_link .bullet_sprite_link02{font-size:12px}
.melfa_support_map .melfa_support_map_link .u-icons--bulletRight::before{padding-top:4px}
.melfa_support_map .melfa_support_map_area{position:absolute;top:0;left:0}
.melfa_support_map .melfa_support_map_area.is-active .melfa_support_map_img{display:block}
.melfa_support_map .melfa_support_map_area.is-active .melfa_support_map_link{border:1px solid #333;background-color:#f6f6f6}
.melfa_support_map .melfa_support_map_area .melfa_support_map_mark{position:absolute}
.melfa_support_map .melfa_support_map_area.hokkaido .melfa_support_map_img{top:2px;left:576px}
.melfa_support_map .melfa_support_map_area.hokkaido .melfa_support_map_mark{top:75px;left:658px}
.melfa_support_map .melfa_support_map_area.hokkaido .melfa_support_map_link{top:58px;left:750px}
.melfa_support_map .melfa_support_map_area.tohoku .melfa_support_map_img{top:134px;left:545px}
.melfa_support_map .melfa_support_map_area.tohoku .melfa_support_map_mark{top:202px;left:598px}
.melfa_support_map .melfa_support_map_area.tohoku .melfa_support_map_link{top:156px;left:675px}
.melfa_support_map .melfa_support_map_area.kanetsu .melfa_support_map_img{top:231px;left:503px}
.melfa_support_map .melfa_support_map_area.kanetsu .melfa_support_map_mark{top:107px;left:539px}
.melfa_support_map .melfa_support_map_area.kanetsu .melfa_support_map_link{top:18px;left:415px}
.melfa_support_map .melfa_support_map_area.honsha .melfa_support_map_img{top:280px;left:490px}
.melfa_support_map .melfa_support_map_area.honsha .melfa_support_map_mark{top:316px;left:571px}
.melfa_support_map .melfa_support_map_area.honsha .melfa_support_map_link{top:273px;left:675px}
.melfa_support_map .melfa_support_map_area.kanagawa .melfa_support_map_img{top:327px;left:533px}
.melfa_support_map .melfa_support_map_area.kanagawa .melfa_support_map_mark{top:334px;left:541px}
.melfa_support_map .melfa_support_map_area.kanagawa .melfa_support_map_link{top:390px;left:634px}
.melfa_support_map .melfa_support_map_area.hokuriku .melfa_support_map_img{top:258px;left:437px}
.melfa_support_map .melfa_support_map_area.hokuriku .melfa_support_map_mark{top:195px;left:472px}
.melfa_support_map .melfa_support_map_area.hokuriku .melfa_support_map_link{top:137px;left:380px}
.melfa_support_map .melfa_support_map_area.chubu .melfa_support_map_img{top:295px;left:441px}
.melfa_support_map .melfa_support_map_area.chubu .melfa_support_map_mark{top:346px;left:498px}
.melfa_support_map .melfa_support_map_area.chubu .melfa_support_map_link{top:422px;left:479px}
.melfa_support_map .melfa_support_map_area.kansai .melfa_support_map_img{top:311px;left:401px}
.melfa_support_map .melfa_support_map_area.kansai .melfa_support_map_mark{top:237px;left:324px}
.melfa_support_map .melfa_support_map_area.kansai .melfa_support_map_link{top:188px;left:218px}
.melfa_support_map .melfa_support_map_area.chugoku .melfa_support_map_img{top:308px;left:302px}
.melfa_support_map .melfa_support_map_area.chugoku .melfa_support_map_mark{top:330px;left:208px}
.melfa_support_map .melfa_support_map_area.chugoku .melfa_support_map_link{top:305px;left:91px}
.melfa_support_map .melfa_support_map_area.shikoku .melfa_support_map_img{top:352px;left:332px}
.melfa_support_map .melfa_support_map_area.shikoku .melfa_support_map_mark{top:369px;left:372px}
.melfa_support_map .melfa_support_map_area.shikoku .melfa_support_map_link{top:422px;left:323px}
.melfa_support_map .melfa_support_map_area.kyushu .melfa_support_map_img{top:352px;left:210px}
.melfa_support_map .melfa_support_map_area.kyushu .melfa_support_map_mark{top:394px;left:140px}
.melfa_support_map .melfa_support_map_area.kyushu .melfa_support_map_link{top:422px;left:64px}
.melfa_support_map .melfa_support_map_area_under-md .l-tile__item p{padding-left:1.2em;text-indent:0}
.list_table{margin-top:10px;word-wrap:break-word;word-break:normal;border-top:1px dotted #999}
.list_table_row{display:table;width:100%;padding:10px 0;border-bottom:1px dotted #999}
.list_table_cell{display:table-cell;width:26em;vertical-align:middle}
.list_table .equip-label{font-size:75%;display:inline-block;margin-right:4px;padding:1px 12px;vertical-align:top;border-radius:12px;background-color:#dfdfdf}
.overseas_map{margin:auto}
.overseas_articleUnit .c-linkWithImage__image{aspect-ratio:unset}
.overseas_card a:hover{color:inherit}
.overseas_card a:hover .c-card__title{color:#f50f10}
.overseas_card a:visited .c-card__text{color:#000}
.overseas_card .c-card__title{font-weight:700;line-height:1.5;padding:8px 5px 9px 5px;color:#014877}
.overseas_card .c-card__text{display:block!important}
.fa-bullet_sprite_anchor.u-icons--chevronBottom::before{color:#f50f10}
.fa-page_anchorSelect{margin-right:5px;margin-left:15px}
.fa-page_anchor_text{padding-top:5px;padding-right:20px;padding-bottom:5px;padding-left:0;text-indent:0;word-wrap:break-word}
.fa-page_anchor_text *{text-indent:0}
@media only screen and (min-width:1101px){
/*! over Large */
/*! over Large */
.h160{height:160px}
}
@media only screen and (max-width:1100px){
/*! Large, Medium and Small */

}
@media only screen and (min-width:981px) and (max-width:1100px){
/*! Large only */

}
@media only screen and (max-width:980px){
/*! Medium and Small */
.melfa_support_map{width:100%;height:auto}
.melfa_support_map img{width:100%;height:auto}
.melfa_support_map .melfa_support_map_img{display:none}
.melfa_support_map .melfa_support_map_area{display:none}
.overseas-anchorNav{flex-flow:column}
.fa-page_anchorSelect{display:block}
}
@media only screen and (min-width:981px){
/*! over Medium */

}
@media only screen and (min-width:768px) and (max-width:980px){
/*! Medium only */

}
@media only screen and (min-width:768px){
/*! Large and Medium */

}
@media only screen and (max-width:767px){
/*! Small only */
.table_titleArea{display:block}
.local-network_tab{padding:1em}
.local-network_tab .c-tab__inner{padding:1em .5em}
.local-network_tab .c-tab__inner .branch_office{width:155px}
.list_table_cell{width:16em}
}