@charset "utf-8";

#melfa_main_area .sttl {
	font-weight: bold;
	font-size: 120%;
    margin-bottom: 1em;
}
@media only screen and (max-width:768px) {
    #melfa_main_area .sttl {font-size: 130%}
}

#melfa_main_area .specTbl .new {
	position: relative;
	top: 2px;
	margin-left: 4px;
}
.w22per {
	width: 22%;
}
.w33per {
	width: 33%;
}
.w34per {
	width: 34%;
}
.mt20 {
	margin-top: 20px;
}