@charset "utf-8";

/* PC・スマホ表示 */
@media (min-width:768px) {
  .pc_only {
      display: block !important;
  }
  .sp_only {
      display:none !important;
  }
}
@media only screen and (max-width:767px) {
  .pc_only {
      display:none !important;
  }
  .sp_only {
      display: block !important;
  }
}

/* 共通項目 */
.mrgn_top10 {
	margin-top: 10px!important;
}
.mrgn_top15{
	margin-top: 15px!important;
}
.mrgn_top20 {
	margin-top: 20px!important;
}
.mrgn_top30 {
	margin-top: 30px!important;
}
.mrgn_top40 {
	margin-top: 40px!important;
}
.mrgn_btm20 {
	margin-bottom: 20px!important;
}
.tx_md2 {
	text-align: center;
}
.tx_md2 p {
	display: inline-block;
	text-align: left;
}
.c-table--center td, .c-table--center th {
	vertical-align: middle;
}
.inner_ma {
    padding-right: 90px;
    padding-left: 90px;	
}
@media screen and (max-width:600px) {
.inner_ma {
    padding-left: 0;
    padding-right: 0;
}
}


/* 幅全体グレー背景 */
.wid100_bg {
	margin-left: calc(((100vw - 100%) / 2) * -1);
	margin-right: calc(((100vw - 100%) / 2) * -1);
}
.sec_gray {
	background-color: #F2F2F2;
	padding: 40px 0 50px 0;
}

/* リード文 */
.lead_01 {
	color: #444444;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.6em;
}
@media only screen and (max-width:767px) {
.lead_01 {
	font-size: 16px;
	}
}
.lead_02 {
	font-size: 16px;
	color: #444444;
	margin: 10px auto!important;
	text-align: left;
	line-height: 1.5em;
}
.lead_02 span {
	display: inline-block;
	text-indent: -0.7em;
	padding-left: 1em;	
}
@media only screen and (max-width:767px) {
.lead_02 {
	font-size: 14px;
	}
}

/* ラインアップ表 */
.tbl_cell_blue {
	background-color: #b3dcea;
}
.sp_blue {
	display: inline-block;
	width: 50px;
	line-height: 1.2em;
	background-color: #b3dcea;
}

/* 下線（点線）つきp */
.line_p01{
	font-size: 20px;
	font-weight: 700;
	color: #442769;
	text-align: center;
	line-height: 2em;
}
.line_p01 span {
	border-bottom: 4px dotted #442769;
}
@media only screen and (max-width:767px) {
.line_p01{
	font-size: 18px;
}
}
