@charset "utf-8";
/* CSS Document */

.t_sa {
	margin-top: 10px;
	font-size: small;
}
.t_sa tr{
	border: none;
	white-space: nowrap;
}
.t_sa tr th{
	padding-top : 5px;
	vertical-align: baseline;
}
.t_sa tr td{
	border: none;
	border-collapse: collapse;
	white-space: nowrap;
	padding-top : 5px;
	vertical-align: middle;
}
.f_left_1 {
	display: block;
	width: 195px;
	float: left;
}
.f_left_2 {
	display: block;
	width: 390px;
	float: left;
}
.b_n_top {
	border-top: none !important;
	z-index: -1;
}
.b_n_top_2 {
	border-top: 1px solid #D0D0D0 !important;
	z-index: 1;
}
.CCC {
	height: 40px;
	width: 95px;
	text-indent: -9999px;
	border-bottom: none !important;
	z-index: -1;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-image: url(../images/certification/logo_certifications_01.png) !important;
}
.CE {
	height: 40px;
	width: 75px;
	text-indent: -9999px;
	border-bottom: none !important;
	z-index: -1;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-image: url(../images/certification/logo_certifications_02.png) !important;
}
.LR {
	height: 40px;
	width: 45px;
	text-indent: -9999px;
	border-bottom: none !important;
	z-index: -1;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-image: url(../images/certification/logo_certifications_03.png) !important;
}
.DNVGL {
	height: 43px;
	width: 45px;
	text-indent: -9999px;
	border-bottom: none !important;
	z-index: -1;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-image: url(../images/certification/logo_certifications_dnv.png) !important;
}
.BV {
	height: 40px;
	width: 45px;
	text-indent: -9999px;
	border-bottom: none !important;
	z-index: -1;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-image: url(../images/certification/logo_certifications_05.png) !important;
}
.ABS {
	height: 40px;
	width: 45px;
	text-indent: -9999px;
	border-bottom: none !important;
	z-index: -1;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-image: url(../images/certification/logo_certifications_07.png) !important;
}
.CCS {
	height: 40px;
	width: 45px;
	text-indent: -9999px;
	border-bottom: none !important;
	z-index: -1;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-image: url(../images/certification/logo_certifications_08.png) !important;
}
.ASTA {
	height: 40px;
	width: 45px;
	text-indent: -9999px;
	border-bottom: none !important;
	z-index: -1;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-image: url(../images/certification/logo_certifications_09.png) !important;
}
.TUV {
	height: 40px;
	width: 45px;
	text-indent: -9999px;
	border-bottom: none !important;
	z-index: -1;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-image: url(../images/certification/logo_certifications_10.png) !important;
}
.KEMA {
	height: 40px;
	width: 45px;
	text-indent: -9999px;
	border-bottom: none !important;
	z-index: -1;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-image: url(../images/certification/logo_certifications_11.png) !important;
}
table.t_cer th {
	text-align: center !important;
	vertical-align: middle !important;
}
table.t_cer td {
text-align: center;
vertical-align: middle !important;
}
table.t_cer td:hover {
  background-color: #CFF !important;
}
table.t_cer td a {
	display: block;
	width: 100%;
	height: 100%;
}
