@charset "utf-8";
/* CSS Document */

#melfa_main_area .align_l {text-align: left !important}
#melfa_main_area .icon_list {
    padding-right: 1.5em;
}

#melfa_main_area .fa-heading_table_head th, #melfa_main_area .fa-heading_table_body th {vertical-align: middle}
#melfa_main_area .fa-heading_table_body td {vertical-align: middle; text-align: center}

#melfa_main_area .fa-heading_lv2 {margin-bottom: 0.5em !important}
@media only screen and (max-width: 780px) {
    #melfa_main_area .fa-heading_lv3 {font-size: 100% !important}
}
#melfa_main_area .txt085 {font-size:0.85rem}
#melfa_main_area .txt1 {font-size:1rem}
#melfa_main_area .txt125 {font-size:1.25rem}
#melfa_main_area .txt15 {font-size:1.5rem}
#melfa_main_area .txt175 {font-size:1.75rem}
#melfa_main_area .txt2 {font-size:2rem}

#melfa_main_area .mb0 {margin-bottom: 0}
#melfa_main_area .mb05 {margin-bottom: 0.5em}
#melfa_main_area .mb1 {margin-bottom: 1em}
#melfa_main_area .mb2 {margin-bottom: 2em}
#melfa_main_area .mt0 {margin-top: 0}
#melfa_main_area .mt1 {margin-top: 1em}
#melfa_main_area .mt15 {margin-top: 1.5em}
#melfa_main_area .pl05 {padding-left: 0.5em}
#melfa_main_area .pl1 {padding-left: 1em}
#melfa_main_area .pl15 {padding-left: 1.5em}
#melfa_main_area .pl2 {padding-left: 2em}
#melfa_main_area .pl_lr {padding-left: 0.5em; padding-right: 0.5em}
#melfa_main_area .pb1 {padding-bottom: 1em}
#melfa_main_area .note {text-indent: -0.75em; margin-left: 1em}
#melfa_main_area .pl_block {display: block; padding-left: 1.3em}

#melfa_main_area .no_breaks {display: inline-block}

/*注釈設定（ナンバリング自動）*/
#melfa_main_area .list_indent {
    text-indent: -1.5em;
    margin-left: 1.5em;
    counter-increment: num;
    margin-bottom: 0em !important;
    /*font-size: 70%;*/
    }

/*注釈設定---モバイルで表示768px以下で有効）*/
@media only screen and (max-width: 768px) {
    #melfa_main_area .list_indent { text-indent: -1.5em}
    #melfa_main_area .list_indent::before {
        content: '*'counter(num)':';
        display: inline-block;
        width: 1.5em;
        text-indent: 0;
    }
}
/*注釈設定---PCで表示（768px以上で有効）*/
@media only screen and (min-width:769px) {
   #melfa_main_area .list_indent { text-indent: -2em; margin-left: 1.75em}
    #melfa_main_area .list_indent::before {
        content: '*'counter(num)':';
        display: inline-block;
        width: 2em;
        text-indent: 0;
    }
}

/*注釈設定（テキスト入力のナンバリング）*/
#melfa_main_area .list_indent_no {
    text-indent: -1.75em;
    margin-left: 1.75em;
    counter-increment: num;
    margin-bottom: 0em !important;
    /*font-size: 70%;*/
    }
#melfa_main_area .list_indent_no_dub {
    text-indent: -2.5em;
    margin-left: 2.5em;
    counter-increment: num;
    margin-bottom: 0em !important;
}
#melfa_main_area .list_indent_nonum {
    text-indent: -1.5em;
    margin-left: 1.75em;
    counter-increment: num;
    margin-bottom: 0em !important;
    }
    /*モバイルで表示*/
@media only screen and (max-width: 768px) {
   #melfa_main_area .list_indent_no {
    text-indent: -1.6em;
    margin-left: 1.6em;
   }
   #melfa_main_area .list_indent_no_dub {
   text-indent: -2.25em;
   margin-left: 2.25em;
   }
   #melfa_main_area .list_indent_nonum {
   text-indent: -0.5em;
   margin-left: 0.5em;
   }
}
#melfa_main_area .icon_img img {vertical-align: middle}