<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Edge Application | Edgecross-supporting Software | Core Products/Technologies | FA-IT integrated solution e-F@ctory | MITSUBISHI ELECTRIC Factory Automation</title>
<meta name="keywords" content="MITSUBISHI ELECTRIC,FA,Factory Automation">
<meta name="description" content="Software that performs various processing for data utilization on the shop floor using functions provided by Edgecross in the edge computing level.">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="format-detection" content="telephone=no">
<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">
<link rel="apple-touch-icon-precomposed" href="https://www.mitsubishielectric.com/m/common/img/apple-touch-icon-precomposed.png">
<!-- facebook用メタ情報 -->
<meta property="og:type" content="article">
<meta property="og:url" content="https://www.mitsubishielectric.com/fa/solutions/efactory/component/edgsw/edgeapp/index.html">
<meta property="og:title" content="Edge Application | Edgecross-supporting Software | Core Products/Technologies | FA-IT integrated solution e-F@ctory | MITSUBISHI ELECTRIC Factory Automation">
<meta property="og:description" content="Software that performs various processing for data utilization on the shop floor using functions provided by Edgecross in the edge computing level.">
<meta property="og:image" content="https://www.mitsubishielectric.com/fa/shared/img/ogp/thumb_01.jpg">
<!-- /facebook用メタ情報 -->
<!-- Mel styles gws0001 -->
<link rel="stylesheet" href="/fa/shared/gws0001/default/libs/normalize.css/7.0.0/normalize.css">
<link rel="stylesheet" href="/fa/shared/gws0001/default/css/layouts.css">
<link rel="stylesheet" href="/fa/shared/gws0001/css/style.css">
<link rel="stylesheet" href="/fa/solutions/assets/css/category.css">
<link rel="stylesheet" href="/fa/solutions/efactory/component/edgsw/assets/css/style.css">
<!-- Mel JS gws0001 -->
<script src="/fa/shared/gws0001/default/libs/jquery/jquery-3.6.0.min.js"></script>
<script>
window.jQuery3_6 = jQuery.noConflict();
</script>
<script src="/fa/shared/gws0001/default/js/libs.js"></script>
<script src="/fa/shared/gws0001/js/functions.js"></script>
<script src="/common/js/head_include.js"></script>
</head>
<body>
<noscript><div class="noscript"><p class="noscript__msg">Please enable JavaScript before using this site.</p></div></noscript>
<header class="gs18-Header gs18-Header--MinInteraction" role="banner" data-js-gs18-header>
<!-- /.gs18-Header -->
</header>
<main class="container-fluid" id="edgeapp">
<div class="c-mainVisual c-mainVisual--lv3">
<div class="c-mainVisual__main">
<div class="c-mainVisual__fa"><img src="/fa/shared/gws0001/img/fa_logo.svg" alt="Factory Automation" width="315" height="35"></div>
<h1 class="c-mainVisual__title"><span class="c-mainVisual__subTitle">FA-IT integrated solution</span>Edgecross-supporting Software</h1>
</div>
</div><!-- /.c-mainVisual -->
<div class="c-localNav">
<div class="c-localNav__inner">
<ul class="c-list c-list--float">
<li class="c-list__item"><a class="u-icons u-icons--bulletLeft" href="/fa/solutions/efactory/index.html">Introduction of e-F@ctory</a></li>
</ul><!-- /.c-list -->
<ul class="c-list c-list--float">
<li class="c-list__item"><a class="u-icons u-icons--bulletRight" href="/fa/solutions/efactory/component/edgsw/index.html">top</a></li>
<li class="c-list__item"><a class="u-icons u-icons--bulletRight is-active" href="/fa/solutions/efactory/component/edgsw/edgeapp/index.html">Edge Application</a></li>
<li class="c-list__item"><a class="u-icons u-icons--bulletRight" href="/fa/solutions/efactory/component/edgsw/dc/index.html">Data Collector</a></li>
<li class="c-list__item"><a class="u-icons u-icons--bulletRight" href="/fa/solutions/efactory/component/edgsw/itgw/index.html">IT Gateway</a></li>
</ul><!-- /.c-list -->
</div><!-- /.c-localNav__inner -->
</div><!-- /.c-localNav -->
<div class="l-inner--large">
<section class="l-section" id="section01">
<div class="map-link">
<div class="map-link__image">
<img src="/fa/solutions/efactory/component/edgsw/edgeapp/assets/img/img_map_01.png" alt="">
<a class="btn01" href="/fa/products/software/data-science-tools/mailab/index.html">MELSOFT MaiLab</a>
<a class="btn02" href="/fa/products/cnt/cnc/pmerit/iot/nmt_optimizer/index.html">NC Machine Tool Optimizer</a>
<a class="btn03" href="/fa/products/software/visualisation/genesis64/index.html">SCADA GENESIS64™</a>
<a class="btn04" href="/fa/products/software/ems/eap/index.html">EcoAdviser</a>
<a class="btn05" href="/fa/products/hmi/got/pmerit/sgt/sgt2000/index.html">GT SoftGOT2000</a>
<a class="btn06" href="/fa/products/software/simulation-tools/gemini/index.html">MELSOFT Gemini</a>
<a class="btn07" href="/fa/products/cnt/plceng/smerit/gx_logviewer/index.html">GX LogViewer</a>
</div>
</div>
<h2 class="c-headingLv2">Edge Application</h2>
<p class="c-text">Software that performs various processing for data utilization on the shop floor using functions provided by Edgecross in the edge computing level.<br>Customers can choose any application based on what they need, production site data monitoring, analysis or diagnosis, from our product lineup which available to meet customers' requirement.</p>
<ul class="c-anchorNav c-list c-list--float" data-js-localscroll>
<li class="c-list__item"><a class="u-icons u-icons--chevronBottom" href="#product01">MELSOFT MaiLab</a></li>
<li class="c-list__item"><a class="u-icons u-icons--chevronBottom" href="#product02">EcoAdviser</a></li>
<li class="c-list__item"><a class="u-icons u-icons--chevronBottom" href="#product03">SCADA GENESIS64™</a></li>
<li class="c-list__item"><a class="u-icons u-icons--chevronBottom" href="#product04">NC Machine Tool Optimizer</a></li>
<li class="c-list__item"><a class="u-icons u-icons--chevronBottom" href="#product05">GT SoftGOT2000</a></li>
<li class="c-list__item"><a class="u-icons u-icons--chevronBottom" href="#product06">MELSOFT Gemini</a></li>
<li class="c-list__item"><a class="u-icons u-icons--chevronBottom" href="#product07">GX LogViewer</a></li>
</ul><!-- /.c-list -->
<div id="product01" class="edgeapp-product">
<h3 class="c-headingLv3">MELSOFT MaiLab</h3>
<div class="flex-box">
<div class="text">
<p class="c-text">Software that analyzes and diagnoses shop floor data without specialized knowledge and contributes to automation and productivity improvement at the shop floor</p>
<p class="c-subText"><a href="/fa/products/software/data-science-tools/mailab/index.html" class="u-icons u-icons--bulletRight">MELSOFT MaiLab</a></p>
</div>
<div class="image"><img src="/fa/solutions/efactory/component/edgsw/edgeapp/assets/img/img_01.png" alt="MELSOFT MaiLab"></div>
</div>
</div>
<div id="product02" class="edgeapp-product">
<h3 class="c-headingLv3">EcoAdviser</h3>
<div class="flex-box">
<div class="text">
<p class="c-text">Software analyzes data collected by Edgecross or the energy-saving data collected by server EcoWebServerIII</p>
<p class="c-subText"><a href="/fa/products/software/ems/eap/index.html" class="u-icons u-icons--bulletRight">EcoAdviser</a></p>
</div>
<div class="image"><img src="/fa/solutions/efactory/component/edgsw/edgeapp/assets/img/img_02.png" alt="EcoAdviser"></div>
</div>
</div>
<div id="product03" class="edgeapp-product">
<h3 class="c-headingLv3">GENESIS64™</h3>
<div class="flex-box">
<div class="text">
<p class="c-text">loT platform for integrated monitoring solutions</p>
<p class="c-subText"><a href="/fa/products/software/visualisation/genesis64/index.html" class="u-icons u-icons--bulletRight">SCADA GENESIS64™</a></p>
</div>
<div class="image"><img src="/fa/solutions/competencies/carbon-neutral/case/assets/img/img_product_13.jpg" alt="SCADA GENESIS64™"></div>
</div>
</div>
<div id="product04" class="edgeapp-product">
<h3 class="c-headingLv3">NC Machine Tool Optimizer</h3>
<div class="flex-box">
<div class="text">
<p class="c-text">Software for analysis and diagnosis of operating conditions collected from machine tools and peripheral equipment</p>
<p class="c-subText"><a href="/fa/products/cnt/cnc/pmerit/iot/nmt_optimizer/index.html" class="u-icons u-icons--bulletRight">NC Machine Tool Optimizer</a></p>
</div>
<div class="image"><img src="/fa/solutions/efactory/component/edgsw/edgeapp/assets/img/img_04.png" alt="NC Machine Tool Optimizer"></div>
</div>
</div>
<div id="product05" class="edgeapp-product">
<h3 class="c-headingLv3">GT SoftGOT2000</h3>
<div class="flex-box">
<div class="text">
<p class="c-text">HMI software that operates on personal computers and panel computers</p>
<p class="c-subText"><a href="/fa/products/hmi/got/pmerit/sgt/sgt2000/index.html" class="u-icons u-icons--bulletRight">GT SoftGOT2000</a></p>
</div>
<div class="image"><img src="/fa/solutions/efactory/component/edgsw/edgeapp/assets/img/img_05.png" alt="GT SoftGOT2000"></div>
</div>
</div>
<div id="product06" class="edgeapp-product">
<h3 class="c-headingLv3">MELSOFT Gemini</h3>
<div class="flex-box">
<div class="text">
<p class="c-text">Software that allows pre-verification in the digital space of a virtual factory or equipment line</p>
<p class="c-subText"><a href="/fa/products/software/simulation-tools/gemini/index.html" class="u-icons u-icons--bulletRight">MELSOFT Gemini</a></p>
</div>
<div class="image"><img src="/fa/solutions/efactory/component/edgsw/edgeapp/assets/img/img_06.png" alt="MELSOFT Gemini"></div>
</div>
</div>
<div id="product07" class="edgeapp-product">
<h3 class="c-headingLv3">GX LogViewer</h3>
<div class="flex-box">
<div class="text">
<p class="c-text">A dedicated viewer that displays logging files collected with data logger modules and the CPU data logging function</p>
<p class="c-subText"><a href="/fa/products/cnt/plceng/smerit/gx_logviewer/index.html" class="u-icons u-icons--bulletRight">GX LogViewer</a></p>
</div>
<div class="image"><img src="/fa/solutions/efactory/component/edgsw/edgeapp/assets/img/img_07.png" alt="GX LogViewer"></div>
</div>
</div>
</section>
<!-- /#section01 -->
<div class="edgsw-pagination">
<ul class="c-list c-list--float">
<li class="c-list__item"><a class="u-icons u-icons--bulletRight" href="/fa/solutions/efactory/component/edgsw/index.html">top</a></li>
<li class="c-list__item"><a class="u-icons u-icons--bulletRight current" href="/fa/solutions/efactory/component/edgsw/edgeapp/index.html">Edge Application</a></li>
<li class="c-list__item"><a class="u-icons u-icons--bulletRight" href="/fa/solutions/efactory/component/edgsw/dc/index.html">Data Collector</a></li>
<li class="c-list__item"><a class="u-icons u-icons--bulletRight" href="/fa/solutions/efactory/component/edgsw/itgw/index.html">IT Gateway</a></li>
</ul>
</div>
</div>
<!-- /.l-inner -->
</main>
<!-- /main -->
<div class="c-breadcrumb">
<ul class="c-breadcrumb__list" data-js-breadcrumb>
</ul><!-- /.c-breadcrumb__list -->
</div><!-- /.c-breadcrumb -->
<footer class="gs18-Footer" role="contentinfo" data-js-gs18-footer>
<!-- /.gs18-Footer -->
</footer>
<!-- Mel JS gws0001 -->
<script src="/fa/shared/gws0001/js/init.js"></script>
<script src="/fa/solutions/assets/js/category.js"></script>
</body>
</html>