@charset "UTF-8";
.c-headingLv2:not(.c-headingLv2--center)+.c-news{margin-top:0;border-top:none}
.c-news__link{flex-wrap:wrap}
.c-news__date{margin-right:1em}
.c-news__category{margin-right:0}
.c-news__content{width:100%;margin-top:5px}
.c-mainVisual--lv2{background-image:url(../img/img_mv-1.jpg);background-repeat:no-repeat;background-size:cover}
.fa-column{display:flex;margin-bottom:20px}
.fa-column-reverse .fa-column_item{order:-1}
.fa-column-reverse .fa-column_item-media{margin-right:0;margin-left:15px;order:inherit}
.fa-column_item{box-sizing:border-box;width:auto;max-width:calc(100% - 15px);min-height:0;flex-grow:1}
.fa-column_item-media{margin-right:15px;flex-grow:0}
.fa-column_item_image{text-align:center}
.fa-definition_list{margin-bottom:16px}
.fa-definition_list dd{font-size:16px;line-height:1.8;margin-bottom:5px;padding-left:2em;text-indent:-1.5em}
.fa-definition_list dd::before{padding-right:.5em;content:"â—"}
.fa_products_faspec .l-inner--medium h2{font-size:28px;font-weight:700;line-height:1.5;position:relative;margin-top:60px;padding-bottom:21px}
.fa_products_faspec .l-inner--medium h2:first-child{margin-top:0}
.fa_products_faspec .l-inner--medium h2::after{position:absolute;bottom:0;left:0;display:block;width:100%;height:8px;content:"";background:linear-gradient(to right,red,red 40px,#616161 40px,#616161 80px,#bdbdbd 80px,#bdbdbd 120px,#f5f5f5 120px,#f5f5f5)}
.fa_products_faspec .l-inner--medium h3{font-size:24px;font-weight:700;line-height:1.5;position:relative;margin-top:60px;padding-bottom:15px}
.fa_products_faspec .l-inner--medium h3:first-child{margin-top:0}
.fa_products_faspec .l-inner--medium h3::after{position:absolute;bottom:0;left:0;display:block;width:100%;height:4px;content:"";background:linear-gradient(to right,#b2b2b2,#b2b2b2 40px,#f2f2f2 40px,#f2f2f2)}
.fa_products_faspec .l-inner--medium h2+h3{margin-top:30px}
.fa_products_faspec .l-inner--medium>p{font-size:16px;line-height:1.8;margin-top:30px}
.fa_products_faspec .l-inner--medium>p:first-child{margin-top:0}
.fa_products_faspec .l-inner--medium>p+p{margin-top:5px}
.fa_products_faspec .l-inner--medium h2+p,.fa_products_faspec .l-inner--medium h3+p{margin-top:15px}
.clearfix{overflow:hidden}
@media only screen and (min-width:1101px){
/*! over Large */

}
@media only screen and (max-width:1100px){
/*! Large, Medium and Small */

}
@media only screen and (min-width:981px) and (max-width:1100px){
/*! Large only */

}
@media only screen and (max-width:980px){
/*! Medium and Small */

}
@media only screen and (min-width:981px){
/*! over Medium */

}
@media only screen and (min-width:768px) and (max-width:980px){
/*! Medium only */

}
@media only screen and (min-width:768px){
/*! Large and Medium */

}
@media only screen and (max-width:767px){
/*! Small only */
.c-list__item a{word-break:break-word}
}