@charset "utf-8";

/* PC専用表示 */
@media only screen and (max-width:600px) {
	.for_pc {
		display: none;
	}
}

/* スマートフォン専用表示 */
@media (min-width: 601px) {
	.for_sp {
		display: none;
	}
}

.mt0 {
	margin-top: 0 !important
}

.mt05 {
	margin-top: 0.5em !important
}

.mt1 {
	margin-top: 1em !important
}

.mt15 {
	margin-top: 1.5em !important
}

.mt2 {
	margin-top: 2em !important
}

.kome {
	color: #F00;
}

.kome_desc1 {
	margin-left: 0;
}

.kome_desc1 li {
	margin-top: 0;
	text-indent: -2.2em;
	list-style: none;
	padding-left: 2.2em;
	font-size: 70%;
}

.kome_desc1 li.double {
	text-indent: -3.2em;
	padding-left: 3.2em;
}

.reg {
	line-height: 100%;
}

@media only screen and (min-width:1280px) {
	.col1_img img {
		padding: 1em 14em;
	}

	.img_80per {
		max-width: 80%
	}

	.img_90per {
		max-width: 90%
	}
}

@media only screen and (max-width:1279px) {
	.col1_img img {
		padding: 0.5em 3.2em;
	}
}

@media only screen and (max-width:599px) {
	.col1_img img {
		padding: 0.5em;
	}
}

.c-table__contentBody td {
	text-align: center;
	vertical-align: middle !important
}

.c-table__head th,
.c-table__contentBody th {
	text-align: center;
	vertical-align: middle !important
}

.c-table__head th,
th.c-table__headCell {
	width: 18%;
}

.icon_prodno {
	color: #FFF;
	background-color: #0D77BB;
	font-weight: normal;
	line-height: 0.75em;
	text-align: center;
	padding: 0.35em 0.75em;
	border-radius: 2em;
	white-space: nowrap;
	font-size: 0.75em;
}

.c-headingLv4_logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.h4r_logo {
	position: relative;
	top: 0.25em;
	padding-left: 0.5em;
}

.icon_r {
	float: right;
	line-height: 1.5
}

@media only screen and (min-width:1280px) {
	.l-section .size_down img {
		padding: 1em 14em;
	}
}

@media only screen and (max-width:1279px) {
	.l-section .size_down img {
		padding: 0.5em 4em;
	}
}

@media only screen and (max-width:599px) {
	.l-section .size_down img {
		padding: 0.5em;
	}
}

.maru-label {
	font-size: .8em;
	line-height: 1.2;
	display: inline-block;
	min-width: 1.6em;
	margin-bottom: 0.25em;
	margin-right: 0.5em;
	padding: 0.2em;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
	color: #fff;
	background-color: #00518e;
}

.nber-label {
	color: #00518e;
	font-weight: 800;
	border: 1px solid #00518e;
	font-size: .8em;
	line-height: 1.2;
	display: inline-block;
	min-width: 1.6em;
	margin-bottom: 0.25em;
	margin-right: 0.5em;
	padding: 0.2em;
	text-align: center;
	vertical-align: middle;

}

.before-label,
.after-label {
	font-size: 1.5em;
	line-height: 1.1;
	display: inline-block;
	margin-bottom: 0.25em;
	margin-right: 0.5em;
	width: 100%;
	padding: 0.2em;
	text-align: center;
	vertical-align: middle;
	border-radius: 15px;
	color: #fff;
	background-color: #779ac2;
}

.after-label {
	background-color: #00518e;
}

.triangle_area {
	margin-top: 20px;
	margin-bottom: 10px;
	position: relative;
	text-align: center;
	height: 50px;
	margin-right: 40px;
}

.triangle {
	position: absolute;
	border-top: 40px solid #BC0000;
	border-right: 25px solid transparent;
	border-left: 25px solid transparent;
}

.box_shiunten {
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 2px;
	border: 1px solid #00518e;
	border-radius: 8px;
	line-height: 1.2;
	max-width: 1280px;
}

.shiunten-label {
	font-size: 1.5em;
	line-height: 1.1;
	display: inline-block;
	margin-right: 0.5em;
	width: 100%;
	padding: 0.2em;
	text-align: center;
	vertical-align: middle;
	border-radius: 8px;
	color: #fff;
	background-color: #00518e;
}
